# Springboard Data Science Career Track Unit 4 Challenge - Tier 1 Complete


## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time - so let's apply your knowledge in the real world. 

In this notebook, we're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… [well, there are 32 boroughs within Greater London](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

This is the Tier One notebook, which is the easiest tier. More of the code has been filled in already for you, so you have to less research on how to complete the lines. We ask that you only complete this tier if you've given Tiers Two and Three your best effort and been thwarted. We also ask, once you complete this tier, to go back to the highest difficulty level and give it another go. We really want you to internalize the skills you're learning.


This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline
Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data


Your the data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal with a massive range of London-oriented datasets.

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing 
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

#### 2.1. Exploring the data

In [3]:
# First off, let's use .shape feature of pandas DataFrames to look at the number of rows and columns. 
properties.shape

(313, 49)

In [4]:
# Using the .head() method, let's check out the state of our dataset.  
properties.head()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548

Oh no! What are you supposed to do with this?

You've got the data, but it doesn't look tidy. At this stage, you'd struggle to perform analysis on it. It is normal for your initial data set to be formatted in a way that is not conducive to analysis. A big part of your job is fixing that. 

Best practice is for pandas DataFrames to contain the **observations of interest** as rows, and the features of those observations as columns. You want **tidy** DataFrames: whose rows are observations and whose columns are variables.


Notice here that the column headings are the *particular* boroughs, which is your observation of interest. The first column contains datetime objects that capture a particular month and year, which is a variable. Most of the other cell-values are the average proprety values of the borough corresponding to that time stamp. 

Clearly, you need to roll up your sleeves and do some  **cleaning**.

####  2.2. Cleaning the data (Part 1)
Data cleaning has a bad rep, but remember what your momma told you: cleanliness is next to godliness. Data cleaning can be really satisfying and fun. In the dark ages of programming, data cleaning was a tedious and difficult ordeal. Nowadays, new and improved tools have simplified the process. Getting good at data cleaning opens up a world of possibilities for data scientists and programmers. 
 
The first operation you want to do on the dataset is called **transposition**. You *transpose* a table when you flip the columns into rows, and *vice versa*. 

If you transpose this DataFrame then the borough names will become the row indices, and the date time objects will become the column headers. Since your end goal is tidy data, where each row will represent a borough and each column will contain data about that borough at a certain point in time, transposing the table bring us closer to where you want to be.

Python makes transposition simple.

Each pandas DataFrame already has the *.T* attribute which is the transposed version of that DataFrame.

Assign the transposed version of the original to a new variable. Let’s call it *properties_T*. 

Boom! You’ve got a transposed table to play with.

In [5]:
# copy the original data in case of mess up the original data. 
properties_1 = properties.copy()

In [6]:
# show the columns name
properties_1.keys()

Index(['Unnamed: 0', 'City of London', 'Barking & Dagenham', 'Barnet',
       'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow',
       'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham',
       'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark',
       'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth',
       'Westminster', 'Unnamed: 34', 'Inner London', 'Outer London',
       'Unnamed: 37', 'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER',
       'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON',
       'SOUTH EAST', 'SOUTH WEST', 'Unnamed: 47', 'England'],
      dtype='object')

In [7]:
properties_1

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,2020-08-01,798227.4653,304335.9683,527951.9804,346996.6271,493929.671,434771.8072,821007.5921,374218.9943,480947.4487,...,174159.9612,171887.8947,201780.4783,205646.179,297411.1178,488298.3123,330317.2176,265778.8925,NaN,256441.9346
309,2020-09-01,774653.76,302165.1377,536177.115,345829.1119,519117.4988,437819.3528,831949.0325,377411.0825,491026.2096,...,175548.5284,173103.5331,204081.0506,209012.9072,303490.341,496981.6094,335880.2894,273129.676,NaN,260730.7462
310,2020-10-01,813356.4347,305197.1134,534080.7256,346656.0968,523643.9032,444315.1934,831261.6466,378109.0962,495809.1709,...,179182.3297,176864.6494,207207.1422,211190.1262,303230.7665,492470.8594,337300.8331,275010.0002,NaN,262880.048
311,2020-11-01,788715.2761,306986.563,535055.2248,350585.4989,517569.185,455141.5982,837088.6982,381069.3,507206.2431,...,179327.671,180835.5672,209282.7916,212821.7394,303748.0129,501487.5626,340638.1159,276114.8617,NaN,265267.6641
312,2020-12-01,784005.6999,317946.9612,534719.1816,354466.1959,496316.2611,460361.1259,803908.4231,383292.5753,501050.8418,...,183726.8213,182906.7295,215046.3048,216950.3793,310912.16,496066.2203,341006.8611,282388.4646,NaN,269149.8106

In [8]:
# Transpose the format 
properties_T=properties_1.T

In [9]:
# Let's check the head of our new Transposed DataFrame. 
properties_T

,0,1,2,3,4,5,6,7,8,9,...,303,304,305,306,307,308,309,310,311,312
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,836241.2841,920443.9389,918209.3301,882872.1038,786626.6665,798227.4653,774653.76,813356.4347,788715.2761,784005.6999
Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,301412.6904,293603.0609,293815.8517,300526.2859,304555.5886,304335.9683,302165.1377,305197.1134,306986.563,317946.9612
Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,522115.1532,526688.5215,526032.9436,518175.0457,523279.8903,527951.9804,536177.115,534080.7256,535055.2248,534719.1816
Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,339182.1484,341552.8296,339353.0015,340893.0807,344091.2308,346996.6271,345829.1119,346656.0968,350585.4989,354466.1959
Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,73789.54287,...,466249.9601,470601.3935,482808.0821,484159.9118,482303.0931,493929.671,519117.4988,523643.9032,517569.185,496316.2611
Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,81440.43008,...,432310.4616,433425.5056,425299.7024,425444.1926,428557.2475,434771.8072,437819.3528,444315.1934,455141.5982,460361.1259
Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,120596.8511,...,854442.8508,862076.7854,855338.2868,837718.8375,807904.3593,821007.5921,831949.0325,831261.6466,837088.6982,803908.4231
Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,69393.50023,...,371006.7837,370031.6225,373805.0976,372413.7578,377278.4015,374218.9943,377411.0825,378109.0962,381069.3,383292.5753
Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,82011.08271,...,480329.6438,480314.0318,473283.004,463423.6569,466117.1379,480947.4487,491026.2096,495809.1709,507206.2431,501050.8418
Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,71725.22104,...,392339.3917,395239.865,391460.2968,385347.4851,386064.7204,395742.0802,399368.2246,406919.6725,405550.7215,415125.7957
Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,63996.81525,...,394446.1488,395916.9692,392506.6466,387217.703,386101.2206,388909.8212,402502.0724,405525.4653,410900.7624,407937.9716
Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,68752.50284,...,578130.2384,579285.033,576963.9249,571464.3811,584128.3138,581648.954,607334.8882,594457.051,598969.5967,623030.659
Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,123094.0484,...,717721.0867,698950.5272,680110.6797,718768.3367,748436.6942,754010.3065,741998.4312,724626.7651,740178.6247,717300.2579
Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,82142.89052,...,543928.9841,544721.6861,549864.7104,546375.636,547777.8493,567754.5311,572723.5882,589123.3912,584696.0568,568560.9761
Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,83606.97863,...,450484.3411,451481.58,445417.0141,441942.1538,445805.319,453380.3809,457262.2676,461770.1722,468583.1913,472369.2186
Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,68108.186,...,365417.846,369484.86,367939.8141,371147.6294,373192.0561,374436.3767,372917.2117,372006.4967,376314.8369,382490.1574
Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,73843.55239,...,409234.3119,403517.4452,407142.0724,403039.4927,408572.9547,409842.4223,412593.8443,418392.6715,421247.447,419504.243
Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,74426.6609,...,409443.5913,401333.9674,396578.4851,394693.4323,394813.4581,409150.3801,417450.1319,421789.3568,426169.3207,412832.856
Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,99582.63778,...,651931.9289,642190.4341,630653.3712,641491.7384,656970.6723,683189.2477,699402.9903,690561.3401,678372.502,653890.7263
Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,197047.8333,...,1344119.853,1366507.988,1353405.021,1300968.375,1321046.625,1341875.655,1358489.093,1327727.023,1328859.642,1288640.541
Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,85110.96835,...,486391.9861,486366.8558,482371.8278,478539.6609,484774.953,496858.4158,504168.1757,506415.6658,507485.4313,508800.077
Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,70155.81997,...,514005.9142,503116.1174,513274.2573,520302.7685,538635.0375,538376.8222,546080.6946,547636.6792,550638.293,548659.9861
Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,58742.99034,...,412504.6215,412995.2087,416637.8415,422938.6652,422336.1904,421826.7447,428732.2263,435847.5705,443410.2118,447782.6223
Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,80824.70075,...,513960.5865,511327.1406,515915.9671,519173.5713,524382.9388,525725.4013,528372.7211,547501.6166,561239.1934,565212.7292
Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,54585.50364,...,366989.718,360608.7256,363514.9034,371624.4664,375328.0887,374027.7153,372020.6285,376948.1098,379818.2741,382751.6787
Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,73204.02373,...,420539.0052,419056.5072,418539.569,412781.3525,417394.2257,421543.6812,429129.7617,433503.2081,442149.8866,445545.5213
Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,110424.5703,...,654948.6892,665143.6265,688186.8929,701624.763,695227.8373,692517.6924,689645.1542,691713.7707,698209.2907,709147.6464
Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,63467.00948,...,496620.2172,500244.9388,516452.4743,509472.7086,508673.5997,504102.2142,510955.5632,517234.8766,528462.535,519142.1741
Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,69937.40214,...,375195.3082,376823.7173,371896.3774,371087.8049,373184.064,378127.8815,383266.1595,387598.4871,393118.5952,398639.3017
Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,62177.59435,...,480145.1656,470443.9506,460078.5931,445196.9908,444565.0852,451450.1715,465480.2806,476194.7547,477832.9486,471445.0342
Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,61548.15206,...,436487.3107,440821.2585,444103.2922,447790.0528,443867.3722,451092.7819,456762.0006,467253.8973,472656.189,485676.3481
Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,91373.6984,...,609325.4336,612597.9621,607047.5868,596641.4874,597440.7879,615174.1441,633606.5671,629964.7347,627822.1711,618530.6898
Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,135993.0705,...,1006659.751,1026785.033,944550.4913,957831.0096,917264.2977,979523.2236,948242.132,921340.9166,925569.0978,930070.2937
Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,80402.85,...,583040.8402,581016.5254,577819.5306,576728.6099,579693.5638,588197.3965,596618.8266,597659.8181,600909.4266,594749.3328
Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,73454.44292,...,425232.3743,425809.5014,425044.959,423807.8922,426273.1492,431029.6362,435903.2765,439930.5209,444806.3633,447187.1395
Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,41850.85646,...,128335.3189,123259.2452,127066.4239,128964.2033,130808.0212,131550.9283,136366.7058,136648.5737,138459.5263,141154.4959
NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,44088.07696,...,166676.1494,163863.4336,164233.9659,168962.9244,171215.3338,174159.9612,175548.5284,179182.3297,179327.671,183726.8213
YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,44837.86023,...,165485.539,160235.3164,164927.2164,168095.7058,169204.1222,171887.8947,173103.5331,176864.6494,180835.5672,182906.7295
EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,45771.66321,...,196011.5815,196251.5819,194741.6315,199049.3845,200701.257,201780.4783,204081.0506,207207.1422,209282.7916,215046.3048
WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,49319.69715,...,199893.5766,195119.3544,198336.2075,202037.6347,203669.6884,205646.179,209012.9072,211190.1262,212821.7394,216950.3793
EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,56259.28635,...,288815.2293,290855.3282,290096.5959,291578.4756,292737.5947,297411.1178,303490.341,303230.7665,303748.0129,310912.16
LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,74940.80872,...,482522.6724,475226.1803,470394.4163,478922.0948,483145.6046,488298.3123,496981.6094,492470.8594,501487.5626,496066.2203
SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,64352.47119,...,323681.3892,324559.2932,321421.3193,322171.8325,325885.7689,330317.2176,335880.2894,337300.8331,340638.1159,341006.8611
SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,54243.98694,...,259745.9388,256590.6397,255487.3342,259493.3119,264554.1113,265778.8925,273129.676,275010.0002,276114.8617,282388.4646
Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,53309.2331,...,249402.9083,246476.4021,247025.4823,250850.8318,253481.5843,256441.9346,260730.7462,262880.048,265267.6641,269149.8106

In [10]:
# Our suspicion was correct. 
# Call the .reset_index() method on properties_T to reset the indices, and the reassign the result to properties_T: 
properties_T = properties_T.reset_index()

In [11]:
properties_T

,index,0,1,2,3,4,5,6,7,8,...,303,304,305,306,307,308,309,310,311,312
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,836241.2841,920443.9389,918209.3301,882872.1038,786626.6665,798227.4653,774653.76,813356.4347,788715.2761,784005.6999
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,301412.6904,293603.0609,293815.8517,300526.2859,304555.5886,304335.9683,302165.1377,305197.1134,306986.563,317946.9612
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,522115.1532,526688.5215,526032.9436,518175.0457,523279.8903,527951.9804,536177.115,534080.7256,535055.2248,534719.1816
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,339182.1484,341552.8296,339353.0015,340893.0807,344091.2308,346996.6271,345829.1119,346656.0968,350585.4989,354466.1959
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,466249.9601,470601.3935,482808.0821,484159.9118,482303.0931,493929.671,519117.4988,523643.9032,517569.185,496316.2611
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,432310.4616,433425.5056,425299.7024,425444.1926,428557.2475,434771.8072,437819.3528,444315.1934,455141.5982,460361.1259
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,854442.8508,862076.7854,855338.2868,837718.8375,807904.3593,821007.5921,831949.0325,831261.6466,837088.6982,803908.4231
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,371006.7837,370031.6225,373805.0976,372413.7578,377278.4015,374218.9943,377411.0825,378109.0962,381069.3,383292.5753
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,480329.6438,480314.0318,473283.004,463423.6569,466117.1379,480947.4487,491026.2096,495809.1709,507206.2431,501050.8418
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,392339.3917,395239.865,391460.2968,385347.4851,386064.7204,395742.0802,399368.2246,406919.6725,405550.7215,415125.7957
11,Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,...,394446.1488,395916.9692,392506.6466,387217.703,386101.2206,388909.8212,402502.0724,405525.4653,410900.7624,407937.9716
12,Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,...,578130.2384,579285.033,576963.9249,571464.3811,584128.3138,581648.954,607334.8882,594457.051,598969.5967,623030.659
13,Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,...,717721.0867,698950.5272,680110.6797,718768.3367,748436.6942,754010.3065,741998.4312,724626.7651,740178.6247,717300.2579
14,Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,...,543928.9841,544721.6861,549864.7104,546375.636,547777.8493,567754.5311,572723.5882,589123.3912,584696.0568,568560.9761
15,Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,...,450484.3411,451481.58,445417.0141,441942.1538,445805.319,453380.3809,457262.2676,461770.1722,468583.1913,472369.2186
16,Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,...,365417.846,369484.86,367939.8141,371147.6294,373192.0561,374436.3767,372917.2117,372006.4967,376314.8369,382490.1574
17,Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,...,409234.3119,403517.4452,407142.0724,403039.4927,408572.9547,409842.4223,412593.8443,418392.6715,421247.447,419504.243
18,Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,...,409443.5913,401333.9674,396578.4851,394693.4323,394813.4581,409150.3801,417450.1319,421789.3568,426169.3207,412832.856
19,Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,...,651931.9289,642190.4341,630653.3712,641491.7384,656970.6723,683189.2477,699402.9903,690561.3401,678372.502,653890.7263
20,Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,...,1344119.853,1366507.988,1353405.021,1300968.375,1321046.625,1341875.655,1358489.093,1327727.023,1328859.642,1288640.541
21,Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,...,486391.9861,486366.8558,482371.8278,478539.6609,484774.953,496858.4158,504168.1757,506415.6658,507485.4313,508800.077
22,Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,...,514005.9142,503116.1174,513274.2573,520302.7685,538635.0375,538376.8222,546080.6946,547636.6792,550638.293,548659.9861
23,Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,...,412504.6215,412995.2087,416637.8415,422938.6652,422336.1904,421826.7447,428732.2263,435847.5705,443410.2118,447782.6223
24,Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,...,513960.5865,511327.1406,515915.9671,519173.5713,524382.9388,525725.4013,528372.7211,547501.6166,561239.1934,565212.7292
25,Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,...,366989.718,360608.7256,363514.9034,371624.4664,375328.0887,374027.7153,372020.6285,376948.1098,379818.2741,382751.6787
26,Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,...,420539.0052,419056.5072,418539.569,412781.3525,417394.2257,421543.6812,429129.7617,433503.2081,442149.8866,445545.5213
27,Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,...,654948.6892,665143.6265,688186.8929,701624.763,695227.8373,692517.6924,689645.1542,691713.7707,698209.2907,709147.6464
28,Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,...,496620.2172,500244.9388,516452.4743,509472.7086,508673.5997,504102.2142,510955.5632,517234.8766,528462.535,519142.1741
29,Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,...,375195.3082,376823.7173,371896.3774,371087.8049,373184.064,378127.8815,383266.1595,387598.4871,393118.5952,398639.3017
30,Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,...,480145.1656,470443.9506,460078.5931,445196.9908,444565.0852,451450.1715,465480.2806,476194.7547,477832.9486,471445.0342
31,Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,...,436487.3107,440821.2585,444103.2922,447790.0528,443867.3722,451092.7819,456762.0006,467253.8973,472656.189,485676.3481
32,Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,...,609325.4336,612597.9621,607047.5868,596641.4874,597440.7879,615174.1441,633606.5671,629964.7347,627822.1711,618530.6898
33,Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,...,1006659.751,1026785.033,944550.4913,957831.0096,917264.2977,979523.2236,948242.132,921340.9166,925569.0978,930070.2937
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,...,583040.8402,581016.5254,577819.5306,576728.6099,579693.5638,588197.3965,596618.8266,597659.8181,600909.4266,594749.3328
36,Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,...,425232.3743,425809.5014,425044.959,423807.8922,426273.1492,431029.6362,435903.2765,439930.5209,444806.3633,447187.1395
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,...,128335.3189,123259.2452,127066.4239,128964.2033,130808.0212,131550.9283,136366.7058,136648.5737,138459.5263,141154.4959
39,NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,...,166676.1494,163863.4336,164233.9659,168962.9244,171215.3338,174159.9612,175548.5284,179182.3297,179327.671,183726.8213
40,YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,...,165485.539,160235.3164,164927.2164,168095.7058,169204.1222,171887.8947,173103.5331,176864.6494,180835.5672,182906.7295
41,EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,...,196011.5815,196251.5819,194741.6315,199049.3845,200701.257,201780.4783,204081.0506,207207.1422,209282.7916,215046.3048
42,WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,...,199893.5766,195119.3544,198336.2075,202037.6347,203669.6884,205646.179,209012.9072,211190.1262,212821.7394,216950.3793
43,EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,...,288815.2293,290855.3282,290096.5959,291578.4756,292737.5947,297411.1178,303490.341,303230.7665,303748.0129,310912.16
44,LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,...,482522.6724,475226.1803,470394.4163,478922.0948,483145.6046,488298.3123,496981.6094,492470.8594,501487.5626,496066.2203
45,SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,...,323681.3892,324559.2932,321421.3193,322171.8325,325885.7689,330317.2176,335880.2894,337300.8331,340638.1159,341006.8611
46,SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,...,259745.9388,256590.6397,255487.3342,259493.3119,264554.1113,265778.8925,273129.676,275010.0002,276114.8617,282388.4646
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,...,249402.9083,246476.4021,247025.4823,250850.8318,253481.5843,256441.9346,260730.7462,262880.048,265267.6641,269149.8106

In [12]:
properties_T.keys()

Index(['index',       0,       1,       2,       3,       4,       5,       6,
             7,       8,
       ...
           303,     304,     305,     306,     307,     308,     309,     310,
           311,     312],
      dtype='object', length=314)

In [13]:
# Call the iloc[] method with double square brackets on the properties_T DataFrame, to see the row at index 0. 
properties_T.iloc[[0]]

,index,0,1,2,3,4,5,6,7,8,...,303,304,305,306,307,308,309,310,311,312
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00

In [14]:
# copy the iloc into the column
properties_T.columns = properties_T.iloc[0]

In [15]:
#view the new index column namem, but noticed the Unnamed:0 and NaN
properties_T

,Unnamed: 0,NaN,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,836241.2841,920443.9389,918209.3301,882872.1038,786626.6665,798227.4653,774653.76,813356.4347,788715.2761,784005.6999
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,301412.6904,293603.0609,293815.8517,300526.2859,304555.5886,304335.9683,302165.1377,305197.1134,306986.563,317946.9612
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,522115.1532,526688.5215,526032.9436,518175.0457,523279.8903,527951.9804,536177.115,534080.7256,535055.2248,534719.1816
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,339182.1484,341552.8296,339353.0015,340893.0807,344091.2308,346996.6271,345829.1119,346656.0968,350585.4989,354466.1959
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,466249.9601,470601.3935,482808.0821,484159.9118,482303.0931,493929.671,519117.4988,523643.9032,517569.185,496316.2611
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,432310.4616,433425.5056,425299.7024,425444.1926,428557.2475,434771.8072,437819.3528,444315.1934,455141.5982,460361.1259
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,854442.8508,862076.7854,855338.2868,837718.8375,807904.3593,821007.5921,831949.0325,831261.6466,837088.6982,803908.4231
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,371006.7837,370031.6225,373805.0976,372413.7578,377278.4015,374218.9943,377411.0825,378109.0962,381069.3,383292.5753
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,480329.6438,480314.0318,473283.004,463423.6569,466117.1379,480947.4487,491026.2096,495809.1709,507206.2431,501050.8418
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,392339.3917,395239.865,391460.2968,385347.4851,386064.7204,395742.0802,399368.2246,406919.6725,405550.7215,415125.7957
11,Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,...,394446.1488,395916.9692,392506.6466,387217.703,386101.2206,388909.8212,402502.0724,405525.4653,410900.7624,407937.9716
12,Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,...,578130.2384,579285.033,576963.9249,571464.3811,584128.3138,581648.954,607334.8882,594457.051,598969.5967,623030.659
13,Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,...,717721.0867,698950.5272,680110.6797,718768.3367,748436.6942,754010.3065,741998.4312,724626.7651,740178.6247,717300.2579
14,Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,...,543928.9841,544721.6861,549864.7104,546375.636,547777.8493,567754.5311,572723.5882,589123.3912,584696.0568,568560.9761
15,Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,...,450484.3411,451481.58,445417.0141,441942.1538,445805.319,453380.3809,457262.2676,461770.1722,468583.1913,472369.2186
16,Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,...,365417.846,369484.86,367939.8141,371147.6294,373192.0561,374436.3767,372917.2117,372006.4967,376314.8369,382490.1574
17,Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,...,409234.3119,403517.4452,407142.0724,403039.4927,408572.9547,409842.4223,412593.8443,418392.6715,421247.447,419504.243
18,Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,...,409443.5913,401333.9674,396578.4851,394693.4323,394813.4581,409150.3801,417450.1319,421789.3568,426169.3207,412832.856
19,Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,...,651931.9289,642190.4341,630653.3712,641491.7384,656970.6723,683189.2477,699402.9903,690561.3401,678372.502,653890.7263
20,Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,...,1344119.853,1366507.988,1353405.021,1300968.375,1321046.625,1341875.655,1358489.093,1327727.023,1328859.642,1288640.541
21,Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,...,486391.9861,486366.8558,482371.8278,478539.6609,484774.953,496858.4158,504168.1757,506415.6658,507485.4313,508800.077
22,Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,...,514005.9142,503116.1174,513274.2573,520302.7685,538635.0375,538376.8222,546080.6946,547636.6792,550638.293,548659.9861
23,Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,...,412504.6215,412995.2087,416637.8415,422938.6652,422336.1904,421826.7447,428732.2263,435847.5705,443410.2118,447782.6223
24,Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,...,513960.5865,511327.1406,515915.9671,519173.5713,524382.9388,525725.4013,528372.7211,547501.6166,561239.1934,565212.7292
25,Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,...,366989.718,360608.7256,363514.9034,371624.4664,375328.0887,374027.7153,372020.6285,376948.1098,379818.2741,382751.6787
26,Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,...,420539.0052,419056.5072,418539.569,412781.3525,417394.2257,421543.6812,429129.7617,433503.2081,442149.8866,445545.5213
27,Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,...,654948.6892,665143.6265,688186.8929,701624.763,695227.8373,692517.6924,689645.1542,691713.7707,698209.2907,709147.6464
28,Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,...,496620.2172,500244.9388,516452.4743,509472.7086,508673.5997,504102.2142,510955.5632,517234.8766,528462.535,519142.1741
29,Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,...,375195.3082,376823.7173,371896.3774,371087.8049,373184.064,378127.8815,383266.1595,387598.4871,393118.5952,398639.3017
30,Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,...,480145.1656,470443.9506,460078.5931,445196.9908,444565.0852,451450.1715,465480.2806,476194.7547,477832.9486,471445.0342
31,Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,...,436487.3107,440821.2585,444103.2922,447790.0528,443867.3722,451092.7819,456762.0006,467253.8973,472656.189,485676.3481
32,Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,...,609325.4336,612597.9621,607047.5868,596641.4874,597440.7879,615174.1441,633606.5671,629964.7347,627822.1711,618530.6898
33,Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,...,1006659.751,1026785.033,944550.4913,957831.0096,917264.2977,979523.2236,948242.132,921340.9166,925569.0978,930070.2937
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,...,583040.8402,581016.5254,577819.5306,576728.6099,579693.5638,588197.3965,596618.8266,597659.8181,600909.4266,594749.3328
36,Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,...,425232.3743,425809.5014,425044.959,423807.8922,426273.1492,431029.6362,435903.2765,439930.5209,444806.3633,447187.1395
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,...,128335.3189,123259.2452,127066.4239,128964.2033,130808.0212,131550.9283,136366.7058,136648.5737,138459.5263,141154.4959
39,NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,...,166676.1494,163863.4336,164233.9659,168962.9244,171215.3338,174159.9612,175548.5284,179182.3297,179327.671,183726.8213
40,YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,...,165485.539,160235.3164,164927.2164,168095.7058,169204.1222,171887.8947,173103.5331,176864.6494,180835.5672,182906.7295
41,EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,...,196011.5815,196251.5819,194741.6315,199049.3845,200701.257,201780.4783,204081.0506,207207.1422,209282.7916,215046.3048
42,WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,...,199893.5766,195119.3544,198336.2075,202037.6347,203669.6884,205646.179,209012.9072,211190.1262,212821.7394,216950.3793
43,EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,...,288815.2293,290855.3282,290096.5959,291578.4756,292737.5947,297411.1178,303490.341,303230.7665,303748.0129,310912.16
44,LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,...,482522.6724,475226.1803,470394.4163,478922.0948,483145.6046,488298.3123,496981.6094,492470.8594,501487.5626,496066.2203
45,SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,...,323681.3892,324559.2932,321421.3193,322171.8325,325885.7689,330317.2176,335880.2894,337300.8331,340638.1159,341006.8611
46,SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,...,259745.9388,256590.6397,255487.3342,259493.3119,264554.1113,265778.8925,273129.676,275010.0002,276114.8617,282388.4646
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,...,249402.9083,246476.4021,247025.4823,250850.8318,253481.5843,256441.9346,260730.7462,262880.048,265267.6641,269149.8106

You've made some progress! But with new progress comes new issues. For one, the row indices of our DataFrame contain the names of the boroughs. You should never have a piece of information we want to analyze as an index, this information should be within the DataFrame itself. The indices should just be a unique ID, almost always a number.

Those names are perhaps the most important piece of information! Put them where you can work with them.

In [16]:
# To confirm what our row indices are, let's call the .index variable on our properties_T DataFrame. 
properties_T.index

RangeIndex(start=0, stop=49, step=1)

In [17]:
#rename the 'Unnamed: 0' and pd.NaT
#properties_T.rename(columns={'Unnamed: 0':'London Borough',pd.NaT:'ID'},inplace=True)

In [18]:
# view the column index that has been renamed and the new row indices: 
#properties_T

,London Borough,ID,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,836241.2841,920443.9389,918209.3301,882872.1038,786626.6665,798227.4653,774653.76,813356.4347,788715.2761,784005.6999
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,301412.6904,293603.0609,293815.8517,300526.2859,304555.5886,304335.9683,302165.1377,305197.1134,306986.563,317946.9612
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,522115.1532,526688.5215,526032.9436,518175.0457,523279.8903,527951.9804,536177.115,534080.7256,535055.2248,534719.1816
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,339182.1484,341552.8296,339353.0015,340893.0807,344091.2308,346996.6271,345829.1119,346656.0968,350585.4989,354466.1959
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,466249.9601,470601.3935,482808.0821,484159.9118,482303.0931,493929.671,519117.4988,523643.9032,517569.185,496316.2611
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,432310.4616,433425.5056,425299.7024,425444.1926,428557.2475,434771.8072,437819.3528,444315.1934,455141.5982,460361.1259
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,854442.8508,862076.7854,855338.2868,837718.8375,807904.3593,821007.5921,831949.0325,831261.6466,837088.6982,803908.4231
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,371006.7837,370031.6225,373805.0976,372413.7578,377278.4015,374218.9943,377411.0825,378109.0962,381069.3,383292.5753
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,480329.6438,480314.0318,473283.004,463423.6569,466117.1379,480947.4487,491026.2096,495809.1709,507206.2431,501050.8418
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,392339.3917,395239.865,391460.2968,385347.4851,386064.7204,395742.0802,399368.2246,406919.6725,405550.7215,415125.7957
11,Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,...,394446.1488,395916.9692,392506.6466,387217.703,386101.2206,388909.8212,402502.0724,405525.4653,410900.7624,407937.9716
12,Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,...,578130.2384,579285.033,576963.9249,571464.3811,584128.3138,581648.954,607334.8882,594457.051,598969.5967,623030.659
13,Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,...,717721.0867,698950.5272,680110.6797,718768.3367,748436.6942,754010.3065,741998.4312,724626.7651,740178.6247,717300.2579
14,Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,...,543928.9841,544721.6861,549864.7104,546375.636,547777.8493,567754.5311,572723.5882,589123.3912,584696.0568,568560.9761
15,Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,...,450484.3411,451481.58,445417.0141,441942.1538,445805.319,453380.3809,457262.2676,461770.1722,468583.1913,472369.2186
16,Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,...,365417.846,369484.86,367939.8141,371147.6294,373192.0561,374436.3767,372917.2117,372006.4967,376314.8369,382490.1574
17,Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,...,409234.3119,403517.4452,407142.0724,403039.4927,408572.9547,409842.4223,412593.8443,418392.6715,421247.447,419504.243
18,Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,...,409443.5913,401333.9674,396578.4851,394693.4323,394813.4581,409150.3801,417450.1319,421789.3568,426169.3207,412832.856
19,Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,...,651931.9289,642190.4341,630653.3712,641491.7384,656970.6723,683189.2477,699402.9903,690561.3401,678372.502,653890.7263
20,Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,...,1344119.853,1366507.988,1353405.021,1300968.375,1321046.625,1341875.655,1358489.093,1327727.023,1328859.642,1288640.541
21,Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,...,486391.9861,486366.8558,482371.8278,478539.6609,484774.953,496858.4158,504168.1757,506415.6658,507485.4313,508800.077
22,Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,...,514005.9142,503116.1174,513274.2573,520302.7685,538635.0375,538376.8222,546080.6946,547636.6792,550638.293,548659.9861
23,Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,...,412504.6215,412995.2087,416637.8415,422938.6652,422336.1904,421826.7447,428732.2263,435847.5705,443410.2118,447782.6223
24,Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,...,513960.5865,511327.1406,515915.9671,519173.5713,524382.9388,525725.4013,528372.7211,547501.6166,561239.1934,565212.7292
25,Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,...,366989.718,360608.7256,363514.9034,371624.4664,375328.0887,374027.7153,372020.6285,376948.1098,379818.2741,382751.6787
26,Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,...,420539.0052,419056.5072,418539.569,412781.3525,417394.2257,421543.6812,429129.7617,433503.2081,442149.8866,445545.5213
27,Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,...,654948.6892,665143.6265,688186.8929,701624.763,695227.8373,692517.6924,689645.1542,691713.7707,698209.2907,709147.6464
28,Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,...,496620.2172,500244.9388,516452.4743,509472.7086,508673.5997,504102.2142,510955.5632,517234.8766,528462.535,519142.1741
29,Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,...,375195.3082,376823.7173,371896.3774,371087.8049,373184.064,378127.8815,383266.1595,387598.4871,393118.5952,398639.3017
30,Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,...,480145.1656,470443.9506,460078.5931,445196.9908,444565.0852,451450.1715,465480.2806,476194.7547,477832.9486,471445.0342
31,Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,...,436487.3107,440821.2585,444103.2922,447790.0528,443867.3722,451092.7819,456762.0006,467253.8973,472656.189,485676.3481
32,Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,...,609325.4336,612597.9621,607047.5868,596641.4874,597440.7879,615174.1441,633606.5671,629964.7347,627822.1711,618530.6898
33,Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,...,1006659.751,1026785.033,944550.4913,957831.0096,917264.2977,979523.2236,948242.132,921340.9166,925569.0978,930070.2937
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,...,583040.8402,581016.5254,577819.5306,576728.6099,579693.5638,588197.3965,596618.8266,597659.8181,600909.4266,594749.3328
36,Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,...,425232.3743,425809.5014,425044.959,423807.8922,426273.1492,431029.6362,435903.2765,439930.5209,444806.3633,447187.1395
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,...,128335.3189,123259.2452,127066.4239,128964.2033,130808.0212,131550.9283,136366.7058,136648.5737,138459.5263,141154.4959
39,NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,...,166676.1494,163863.4336,164233.9659,168962.9244,171215.3338,174159.9612,175548.5284,179182.3297,179327.671,183726.8213
40,YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,...,165485.539,160235.3164,164927.2164,168095.7058,169204.1222,171887.8947,173103.5331,176864.6494,180835.5672,182906.7295
41,EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,...,196011.5815,196251.5819,194741.6315,199049.3845,200701.257,201780.4783,204081.0506,207207.1422,209282.7916,215046.3048
42,WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,...,199893.5766,195119.3544,198336.2075,202037.6347,203669.6884,205646.179,209012.9072,211190.1262,212821.7394,216950.3793
43,EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,...,288815.2293,290855.3282,290096.5959,291578.4756,292737.5947,297411.1178,303490.341,303230.7665,303748.0129,310912.16
44,LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,...,482522.6724,475226.1803,470394.4163,478922.0948,483145.6046,488298.3123,496981.6094,492470.8594,501487.5626,496066.2203
45,SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,...,323681.3892,324559.2932,321421.3193,322171.8325,325885.7689,330317.2176,335880.2894,337300.8331,340638.1159,341006.8611
46,SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,...,259745.9388,256590.6397,255487.3342,259493.3119,264554.1113,265778.8925,273129.676,275010.0002,276114.8617,282388.4646
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,...,249402.9083,246476.4021,247025.4823,250850.8318,253481.5843,256441.9346,260730.7462,262880.048,265267.6641,269149.8106

Progress! 

The indicies are now a numerical RangeIndex, exactly what you want. 

**Note**: if you call the reset_index() line more than once, you'll get an error because a whole extra level of row indices will have been inserted! If you do this, don't worry. Just hit Kernel > Restart, then run all the cells up to here to get back to where you were.

You're getting somewhere, but your column headings are mainly just integers. The first one is the string 'index' and the rest are integers ranging from 0 to 296, inclusive.

For the ultimate aim of having a *tidy* DataFrame, you'll turn the datetimes found along the first row (at index 0) into the column headings.  The resulting DataFrame will have boroughs as rows, the columns as dates (each representing a particular month), and the cell-values as the average property value sold in that borough for that month.

In [19]:
# To confirm that our DataFrame's columns are mainly just integers, call the .columns feature on our DataFrame:.  
#notice the are objects instead of datetime
properties_T.columns

Index([   'London Borough',                'ID', 1995-01-01 00:00:00,
       1995-02-01 00:00:00, 1995-03-01 00:00:00, 1995-04-01 00:00:00,
       1995-05-01 00:00:00, 1995-06-01 00:00:00, 1995-07-01 00:00:00,
       1995-08-01 00:00:00,
       ...
       2020-03-01 00:00:00, 2020-04-01 00:00:00, 2020-05-01 00:00:00,
       2020-06-01 00:00:00, 2020-07-01 00:00:00, 2020-08-01 00:00:00,
       2020-09-01 00:00:00, 2020-10-01 00:00:00, 2020-11-01 00:00:00,
       2020-12-01 00:00:00],
      dtype='object', name=0, length=314)

To confirm that the first row contains the proper values for column headings, use the  ***iloc[] method*** on our *properties_T* DataFrame. Use index 0. You'll recall from DataCamp that if you use single square brackets, you'll return a series. If you use double square brackets, a DataFrame is returned.

In [20]:
# Call the iloc[] method with double square brackets on the properties_T DataFrame, to see the row at index 0. 
#properties_T.iloc[[0]]

,London Borough,ID,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00

**Notice that these values are all the months from January 1995 to August 2019, inclusive**. You can reassign the columns of your DataFrame the values within this row at index 0 by making use of the *.columns* feature.

You need to drop the row at index 0! 

A good way to do this is reassign *properties_T* with the return value of calling the DataFrame ***drop()*** method, passing 0 as the index.

In [21]:
#properties_T = properties_T.drop(0)

In [22]:
# Now check out our DataFrame again to see how it looks. 
#properties_T.head()

,London Borough,ID,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2020-03-01 00:00:00,2020-04-01 00:00:00,2020-05-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,2020-12-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,836241.2841,920443.9389,918209.3301,882872.1038,786626.6665,798227.4653,774653.76,813356.4347,788715.2761,784005.6999
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,301412.6904,293603.0609,293815.8517,300526.2859,304555.5886,304335.9683,302165.1377,305197.1134,306986.563,317946.9612
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,522115.1532,526688.5215,526032.9436,518175.0457,523279.8903,527951.9804,536177.115,534080.7256,535055.2248,534719.1816
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,339182.1484,341552.8296,339353.0015,340893.0807,344091.2308,346996.6271,345829.1119,346656.0968,350585.4989,354466.1959
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,466249.9601,470601.3935,482808.0821,484159.9118,482303.0931,493929.671,519117.4988,523643.9032,517569.185,496316.2611

You're slowly but surely getting there! Exciting, right? 

**Each column now represents a month and year, and each cell-value represents the average price of houses sold in borough of the corresponding row**. 

You have total control over your data!

#### 2.3. Cleaning the data (Part 2)
You can see from the *.head()* list call that you need to rename some columns. 

'Unnamed: 0' should be something like 'London Borough' and 'NaN' should  be changed. 

Recall, that pandas DataFrames have a ***.rename()*** method. One of the keyworded arguments to this method is *columns*. You can assign it a dictionary whose keys are the current column names you want to change, and whose values are the desired new names.

**Note**: you can change the 'Unnamed: 0' name of the first column just by including that string as a key in our dictionary, but 'NaN' stands for Not A Number,  and is denoted by *pd.NaT*. Do not use quotes when you include this value. NaN means Not A Number, and NaT means Not A Time - both of these values represent undefined or unrepresenable values like 0/0. They are functionally Null values. Don't worry, we'll help you with this.

Call the **rename()** method on *properties_T* and set the *columns* keyword equal to the following dictionary: 
{'Unnamed: 0':'London_Borough', pd.NaT: 'ID'} 
, then reassign that value to properties_T to update the DataFrame.

In [ ]:
# Try this here. 
properties_T = properties_T.rename(columns = {'Unnamed: 0':'London_Borough', pd.NaT: 'ID'})

In [ ]:
# Let's check out the DataFrame again to admire our good work. 
properties_T.head()

You're making great leaps forward. But your DataFrame still has lots of columns. Find out exactly how many by calling ***.columns*** on our DataFrame.

In [ ]:
# Try this here. 
properties_T.columns

#### 2.4. Transforming the data
Your data would be tidier if you had fewer columns. 

Wouldn't a ***single*** column for time be better than nearly 300? This single column will contain all of the datetimes in your current column headings. 

**Remember** the two most important properties of tidy data are:
1. **Each column is a variable.**

2. **Each row is an observation.**

One of the miraculous things about pandas is ***melt()***, which enables you to melt those values along the column headings of your current DataFrame into a single column.  

Make a new DataFrame called clean_properties, and assign it the return value of ***pd.melt()*** with the parameters: *properties_T* and *id_vars = ['Borough', 'ID']*. 

The result will be a DataFrame with rows representing the average house price within a given month and a given borough. Exactly what you want.

In [ ]:
# Try this here: 
clean_properties = pd.melt(properties_T, id_vars= ['London_Borough', 'ID'])

In [ ]:
clean_properties.head()

Awesome. This is looking good. 

Rename the '0' column 'Month', and the 'value' column 'Average_price'. 

Use the ***rename()*** method, and reassign *clean_properties* with the result.

In [ ]:
# Re-name the column names
clean_properties = clean_properties.rename(columns = {0: 'Month', 'value': 'Average_price'})

In [ ]:
# Check out the DataFrame: 
clean_properties.head()

You need to check out the data types of your clean_properties DataFrame, just in case you need to do any type conversions.

In [ ]:
# Let's use the .dtypes attribute to check the data types of our clean_properties DataFrame:
clean_properties.dtypes

Change the Average_price column to a numeric type, specifically, a float.

Call the ***to_numeric()*** method on *pd*, pass the 'Average_price' column into its brackets, and reassign the result to the *clean_properties* 'Average_price' column.

In [ ]:
# Try this here
clean_properties['Average_price'] = pd.to_numeric(clean_properties['Average_price'])

In [ ]:
# Check out the new data types:
clean_properties.dtypes

In [ ]:
# To see if there are any missing values, we should call the count() method on our DataFrame:
clean_properties.count()

#### 2.5. Cleaning the data (Part 3) 
Houston, we have a problem!

There are fewer data points in some of the columns. Why might this be? Let's investigate.

Since there are only 32 London boroughs, check out the unique values of the 'London_Borough' column to see if they're all there.

Just call the ***unique()*** method on the London_Borough column.

In [ ]:
# Do this here. 
clean_properties['London_Borough'].unique()

Aha! Some of these strings are not London boroughs. You're basically Sherlock Holmes, getting ever closer solving the mystery! 

The strings that don't belong:
- 'Unnamed: 34'
- 'Unnamed: 37'
- 'NORTH EAST'
- 'NORTH WEST'
- 'YORKS & THE HUMBER' 
- 'EAST MIDLANDS'
- 'WEST MIDLANDS'
- 'EAST OF ENGLAND'
- 'LONDON' 
- 'SOUTH EAST' 
- 'SOUTH WEST'
- 'Unnamed: 47' 
- 'England'

See what information is contained in rows where London_Boroughs is 'Unnamed’ and, if there’s nothing valuable, you can drop them.  To investigate, subset the clean_properties DataFrame on this condition.

In [ ]:
# Subset clean_properties on the condition: df['London_Borough'] == 'Unnamed: 34' to see what information these rows contain. 
clean_properties[clean_properties['London_Borough'] == 'Unnamed: 34'].head()

In [ ]:
# Let's do the same for 'Unnamed: 37':
clean_properties[clean_properties['London_Borough'] == 'Unnamed: 37'].head()

These rows don't contain any valuable information. Delete them.

In [ ]:
# Let's look at how many rows have NAs as their value for ID. 
# To this end, subset clean_properties on the condition: clean_properties['ID'].isna().
# Notice that this line doesn't actually reassign a new value to clean_properties. 
clean_properties[clean_properties['ID'].isna()]

You always have a ***choice*** about how to deal with Null (NaN) values. We show you two methods today:
1. filtering on ***notna()***
2. reassigning on ***dropna()***

Try ***notna()*** first.  ***notna()*** will return a series of booleans, where the value will be true if there's a not a null and false if there is a null.

Make a new variable called *NaNFreeDF1* and assign it the result of filtering *clean_properties* on the condition: *clean_properties['Average_price'].notna()*

In [ ]:
# Try your hand at method (1) here: 
NaNFreeDF1 = clean_properties[clean_properties['Average_price'].notna()]
NaNFreeDF1.head(48)

In [ ]:
# If we do a count on our new DataFrame, we'll see how many rows we have that have complete information: 
NaNFreeDF1.count()

Looks good! 

For completeness, now use ***dropna()***. ***dropna()*** will drop all null values. 

Make a new variable called *NaNFreeDF2*, and assign it the result of calling ***dropna()*** on *clean_properties*.

In [ ]:
# filtering the data with NaN values
NaNFreeDF2 = clean_properties.dropna()
NaNFreeDF2.head(48)

In [ ]:
# Let's do a count on this DataFrame object: 
NaNFreeDF2.count()

In [ ]:
NaNFreeDF2['London_Borough'].unique()

Both these methods did the job! Thus, you can pick either resultant DataFrame.

In [ ]:
# Using the .shape attribute, compare the dimenions of clean_properties, NaNFreeDF1, and NaNFreeDF2: 
print(clean_properties.shape)
print(NaNFreeDF1.shape)
print(NaNFreeDF2.shape)

Our suggestions is to pick NaNFreeDF2.

Drop the rest of the invalid 'London Borough' values.

An elegant way to do this is to make a list of all those invalid values, then use the isin() method, combined with the negation operator ~, to remove those values. Call this list nonBoroughs.

In [ ]:
# A list of non-boroughs. 
nonBoroughs = ['Inner London', 'Outer London', 
               'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER', 
               'EAST MIDLANDS', 'WEST MIDLANDS',
              'EAST OF ENGLAND', 'LONDON', 'SOUTH EAST', 
              'SOUTH WEST', 'England']

Filter *NanFreeDF2* first on the condition that the rows' values for *London_Borough* is *in* the *nonBoroughs* list.

In [ ]:
# Do this here. 
NaNFreeDF2[NaNFreeDF2.London_Borough.isin(nonBoroughs)]

You can now just put the negation operator *~* before the filter statement to get just those rows whose values for *London_Borough* is **not** in the *nonBoroughs* list:

In [ ]:
NaNFreeDF2[~NaNFreeDF2.London_Borough.isin(nonBoroughs)]

Then execute the reassignment:

In [ ]:
NaNFreeDF2 = NaNFreeDF2[~NaNFreeDF2.London_Borough.isin(nonBoroughs)]

In [ ]:
NaNFreeDF2.head()

Make a new variable called 'df', which is what data scientists typically name their final, analysis-ready DataFrame.

In [ ]:
# Do that here. 
df = NaNFreeDF2

In [ ]:
df.head()

In [ ]:
df.dtypes

#### 2.6. Visualizing the data
Time to get a visual idea of the price shift occurring in the London boroughs. 

Restrict your observations to Camden for now. 

How have housing prices changed since 1995?

In [ ]:
# First of all, make a variable called camden_prices, and assign it the result of filtering df on the following condition:
# df['London_Borough'] == 'Camden'
camden_prices = df[df['London_Borough'] == 'Camden']

# Make a variable called ax. Assign it the result of calling the plot() method, and plugging in the following values as parameters:
# kind ='line', x = 'Month', y='Average_price'
ax = camden_prices.plot(kind ='line', x = 'Month', y='Average_price')

# Finally, call the set_ylabel() method on ax, and set that label to the string: 'Price'. 
ax.set_ylabel('Price')

To limit the amount of temporal data-points you have, it would be useful to extract the year from every value in our *Month* column. 300 is more datapoints than you need.

To this end, you'll apply a ***lambda function***. The logic works as follows. You'll:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column

In [ ]:
# Try this yourself. 
df['Year'] = df['Month'].apply(lambda t: t.year)

# Call the tail() method on df
df.tail()

To calculate the mean house price for each year, you first need to **group by** the London_Borough and Year columns.

Make a new variable called *dfg*, and assign it the result of calling the ***groupby()*** method on *df*. Plug in the parameters: by=['Borough', 'Year']. To get the ***mean()*** of the result you'll chain that onto the end. 

We've helped you with this line, it's a little tricky.

In [ ]:
# Using the function 'groupby' will help you to calculate the mean for each year and for each Borough. 
## As you can see, the variables Borough and Year are now indices
dfg = df.groupby(by=['London_Borough', 'Year']).mean()
dfg.sample(10)

In [ ]:
# Let's reset the index for our new DataFrame dfg, and call the head() method on it. 
dfg = dfg.reset_index()
dfg.head()

### 3. Modelling
Now comes the really exciting stuff. 

You want to create a function that will calculate a ratio of house prices, that compares the price of a house in 2018 to the price in 1998. 

Call this function create_price_ratio. 

You want this function to:

1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: **dfg[dfg['London_Borough']=='Camden']**. 

2. Get the Average Price for that borough for 1998 and, seperately, for 2018. 

3. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018. 

4. Return that ratio. 

Once you've written this function, you'll use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox (Part 1), all modules

In [ ]:
# Here's where you should write your function:
def create_price_ratio(d):
    y1998 = float(d['Average_price'][d['Year']==1998])
    y2018 = float(d['Average_price'][d['Year']==2018])
    ratio = [y2018/y1998]
    return ratio

In [ ]:
#  Test out the function by calling it with the following argument:
# dfg[dfg['London_Borough']=='Barking & Dagenham']
create_price_ratio(dfg[dfg['London_Borough']=='Barking & Dagenham'])

In [ ]:
# We want to do this for all of the London Boroughs. 
# First, let's make an empty dictionary, called final, where we'll store our ratios for each unique London_Borough.
final = {}

In [ ]:
# Now let's declare a for loop that will iterate through each of the unique elements of the 'London_Borough' column of our DataFrame dfg.
# Call the iterator variable 'b'. 
for b in dfg['London_Borough'].unique():
    # Let's make our parameter to our create_price_ratio function: i.e., we subset dfg on 'London_Borough' == b. 
    borough = dfg[dfg['London_Borough'] == b]
    # Make a new entry in the final dictionary whose value's the result of calling create_price_ratio with the argument: borough
    final[b] = create_price_ratio(borough)
# We use the function and incorporate that into a new key of the dictionary 
print(final)

Now you have a dictionary with data about the ratio of average prices for each borough between 1998 and 2018,  but you can make it prettier by converting it to a DataFrame.

In [ ]:
# Make a variable called df_ratios, and assign it the result of calling the DataFrame method on the dictionary final. 
df_ratios = pd.DataFrame(final)

In [ ]:
# Call the head() method on this variable to check it out. 
df_ratios.head()

In [ ]:
# All we need to do now is transpose it, and reset the index! 
df_ratios_T = df_ratios.T
df_ratios = df_ratios_T.reset_index()
df_ratios.head()

In [ ]:
# Let's just rename the 'index' column as 'London_Borough', and the '0' column to '2018'.
df_ratios.rename(columns={'index':'Borough', 0:'2018'}, inplace=True)
df_ratios.head()

In [ ]:
# Let's sort in descending order and select the top 15 boroughs.
# Make a variable called top15, and assign it the result of calling sort_values() on df_ratios. 
top15= df_ratios.sort_values(by='2018',ascending=False).head(15)
print(top15)

In [ ]:
# Let's plot the boroughs that have seen the greatest changes in price.
# Make a variable called ax. Assign it the result of filtering top15 on 'Borough' and '2018', then calling plot(), with
# the parameter kind = 'bar'. 
ax = top15[['Borough','2018']].plot(kind='bar')

ax.set_xticklabels(top15.Borough)

### 4. Conclusion
Congratulation!  You're done. Excellent work.

What can you conclude? Type your conclusions below. 

We hope you enjoyed this practical project. It should have consolidated your data cleaning and pandas skills by looking at a real-world problem with the kind of dataset you might encounter as a budding data scientist.