Task numbering
 1 - data masaaging and showing data
 2 - correlation testing and dropping correlated data
 3 - convert to dummy
 4 - Train data/ fit data / scale
 5 - export scaled and fit data

In [1]:
#Task 1.0  import libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from  sklearn import preprocessing

In [2]:
#Task 1.1  import csv file
CCLOAN=pd.read_csv(r'.\DataCapstoneProject2\ccFraudDefault\Cleaned_EDA_Output.csv')

In [3]:
#Task 1.2 view file
CCLOAN.head(10)

,CLIENTID,LATE_PAYMENT,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Permutation1,Permutation2,Permutation3
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.0,2.0,2.0,2.0,-1134.0,0.0,1.0,0,0,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,2.0,0.0,2.0,0.0,-617.0,0.0,0.0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,-1106.0,0.0,0.0,0,0,1
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0.0,0.0,0.0,0.0,-2536.0,1.0,1.0,0,0,1
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,1.0,0.0,1.0,0.0,-1562.0,1.0,2.0,0,0,0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,2.0,0.0,2.0,0.0,-1070.0,0.0,0.0,0,0,0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1,0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,2.0,0.0,2.0,0.0,-1673.0,0.0,0.0,0,0,0

In [4]:
#Task 1.3
CCLOAN.columns

Index(['CLIENTID', 'LATE_PAYMENT', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION',
       'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'HOUSETYPE_MODE',
       'WALLSMATERIAL_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'Permutation1', 'Permutation2', 'Permutation3'],
      dtype='object')

In [5]:
#Task 1.4

CCLOAN.describe()

,CLIENTID,LATE_PAYMENT,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Permutation1,Permutation2,Permutation3
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307511.000000,3.075110e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27107.516051,5.383962e+05,0.020868,-4986.120328,-2994.202373,...,1.417523,0.142944,1.400626,0.099717,-962.855657,0.229631,1.643447,0.080729,0.080729,0.080729
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14494.443757,3.692794e+05,0.013831,3522.886321,1509.450419,...,2.398395,0.446033,2.377224,0.361735,826.808966,0.744059,1.855821,0.272419,0.272419,0.272419
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,0.000000,4.050000e+04,0.000290,-24672.000000,-7197.000000,...,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-7479.500000,-4299.000000,...,0.000000,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-4504.000000,-3254.000000,...,0.000000,0.000000,0.000000,0.000000,-757.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-2010.000000,-1720.000000,...,2.000000,0.000000,2.000000,0.000000,-274.000000,0.000000,3.000000,0.000000,0.000000,0.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,0.000000,0.000000,...,348.000000,34.000000,344.000000,24.000000,0.000000,261.000000,25.000000,1.000000,1.000000,1.000000

In [6]:
#Task 1.5 converting values in the column in this cell to be a more managable numbers.  Using Log1p function.  
# log1p is used instead of log because there is a column AMT_ANNUITY with value of 0

num_features=['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_GOODS_PRICE','AMT_ANNUITY']

for feature in num_features:
    CCLOAN[feature]=np.log1p(CCLOAN[feature])

In [7]:
#Task 1.6
CCLOAN.head(10)

,CLIENTID,LATE_PAYMENT,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Permutation1,Permutation2,Permutation3
0,100002,1,Cash loans,M,N,Y,0,12.218500,12.915581,10.114619,...,2.0,2.0,2.0,2.0,-1134.0,0.0,1.0,0,0,0
1,100003,0,Cash loans,F,N,N,0,12.506181,14.072865,10.482892,...,1.0,0.0,1.0,0.0,-828.0,0.0,0.0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,11.119898,11.813037,8.817446,...,0.0,0.0,0.0,0.0,-815.0,0.0,0.0,0,0,0
3,100006,0,Cash loans,F,N,Y,0,11.813037,12.652947,10.298481,...,2.0,0.0,2.0,0.0,-617.0,0.0,0.0,0,0,0
4,100007,0,Cash loans,M,N,Y,0,11.707678,13.148033,9.992711,...,0.0,0.0,0.0,0.0,-1106.0,0.0,0.0,0,0,1
5,100008,0,Cash loans,M,N,Y,0,11.502885,13.103173,10.222614,...,0.0,0.0,0.0,0.0,-2536.0,1.0,1.0,0,0,1
6,100009,0,Cash loans,F,Y,Y,1,12.049425,14.260662,10.628666,...,1.0,0.0,1.0,0.0,-1562.0,1.0,2.0,0,0,0
7,100010,0,Cash loans,M,Y,Y,0,12.793862,14.240779,10.647233,...,2.0,0.0,2.0,0.0,-1070.0,0.0,0.0,0,0,0
8,100011,0,Cash loans,F,N,Y,0,11.630717,13.834932,10.429029,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0,1,0
9,100012,0,Revolving loans,M,N,Y,0,11.813037,12.911645,9.915959,...,2.0,0.0,2.0,0.0,-1673.0,0.0,0.0,0,0,0

In [8]:
#Task 1.7
CCLOAN.columns

Index(['CLIENTID', 'LATE_PAYMENT', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION',
       'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'HOUSETYPE_MODE',
       'WALLSMATERIAL_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'Permutation1', 'Permutation2', 'Permutation3'],
      dtype='object')

In [9]:
#Task 2.0
#df= dataset.drop(columns='LATE_PAYMENT')

In [ ]:
#use correlation

In [10]:
# Task 2.1.0
# with the following function we can select highly correlated features
# it will identify so I can remove the first feature that is correlated with anything other feature

def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    #corr_matrix = dataset.corr()
    df= dataset.drop(columns='LATE_PAYMENT')
    #df= dataset.drop(colums= 'Late_Payments')#doing this step above to 
    df_corr= df.corr()
    for i in range(len(df_corr.columns)):
        for j in range(i):
            if abs(df_corr.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = df_corr.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [11]:
#Task 2.1.1
corr_features = correlation(CCLOAN , 0.7)#coefficent corelated if 70%  

len(set(corr_features))

8

In [12]:
#Task 2.1.2
# after doing a
corr_features

{'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'CNT_FAM_MEMBERS',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'LIVE_CITY_NOT_WORK_CITY',
 'LIVE_REGION_NOT_WORK_REGION',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'REGION_RATING_CLIENT_W_CITY'}

In [ ]:
#Task 2.1.3
dataset1=CCLOAN.drop('CNT_FAM_MEMBERS')

#Possible Columnn to drop
#CCLOAN.drop(['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'CNT_FAM_MEMBERS', 'DEF_60_CNT_SOCIAL_CIRCLE', 'LIVE_CITY_NOT_WORK_CITY', 'LIVE_REGION_NOT_WORK_REGION', 'OBS_60_CNT_SOCIAL_CIRCLE', 'REGION_RATING_CLIENT_W_CITY'],axis=1)

# Task 2.2.0

Drop one of correlated files then 





# with the following function we can select highly correlated features
# it will identify so I can remove the first feature that is correlated with anything other feature




def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    #corr_matrix = dataset.corr()
    df= dataset1.drop(columns='LATE_PAYMENT')
    #df= dataset.drop(colums= 'Late_Payments')#doing this step above to 
    df_corr= df.corr()
    for i in range(len(df_corr.columns)):
        for j in range(i):
            if abs(df_corr.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = df_corr.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

Task 2.2.1
corr_features = correlation(CCLOAN, 0.7)#coefficent corelated if 70%  

len(set(corr_features))

corr_features = correlation(CCLOAN, 0.7)#coefficent corelated if 70%
len(set(corr_features))

corr_features

drop feature with high correlation

CCLOAN.drop(['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'CNT_FAM_MEMBERS', 'DEF_60_CNT_SOCIAL_CIRCLE', 'LIVE_CITY_NOT_WORK_CITY', 'LIVE_REGION_NOT_WORK_REGION', 'OBS_60_CNT_SOCIAL_CIRCLE', 'REGION_RATING_CLIENT_W_CITY'],axis=1)

In [ ]:
#Task 3
dummy=pd.get_dummies(CCLOAN)

In [ ]:
#Task 3.1
dummy.shape

In [ ]:
#Task 3.2
dummy.head(10)

In [ ]:
#Task 3.3
X=dummy.drop(columns='LATE_PAYMENT')
y=dummy['LATE_PAYMENT']

X_train, X_test, y_train, y_text = train_test_split(X,y, stratify=dummy['LATE_PAYMENT'], test_size=0.25)
#remove train and split and data and will be placed into end of features

finalCCLOAN = dummy.drop(['LATE_PAYMENT'], axis=1)
finalCCLOAN.head()

scaler = StandardScaler()

In [ ]:
#Task 4

X=X_train  #calling x_train
y=y_train#y_train
scaler = preprocessing.StandardScaler().fit(X)
X_scaled=scaler.transform(X)
X_scaled

In [ ]:
#Task 4.1

#need to scale test data,  use x_test and y_test

X=X_test  #calling x_test
y=y_test# y_test
X_scaled=scaler.transform(X)
X_scaled

In [ ]:
#Task 5  export fit and scaled data
# save the state_summary separately.
# drop index so i dont need to have later  xtrain, ytrain, xtest, ytest
train.to_csv(r'.\DataCapstoneProject2\ccFraudDefault\X_Train_Output.csv',index = 0)
test.to_csv(r'.\DataCapstoneProject2\ccFraudDefault\X_Test_Output.csv',index = 0)
train.to_csv(r'.\DataCapstoneProject2\ccFraudDefault\y_Train_Output.csv',index = 0)
test.to_csv(r'.\DataCapstoneProject2\ccFraudDefault\y_Test_Output.csv',index = 0)

In [ ]:
stratify sampling, to make sure LATE_PAYMENT is ~ the same