With this dataset i will predict if a vehicle will increase or decrease.  It is currently in the news with lack of supply of chips, it is causing vehicle prices to increase.

In [1]:
#Task 1
#import pandas
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import numpy as np
import os
import sklearn


##import inforamtion from Kaggle 
usedVehicle = pd.read_csv(r'.\Data\UsedCarData\vehicles.csv',header=0)

In [2]:
#Task 1.1
usedVehicle

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [3]:
#Task 1.2
#View the column information and see there is a lot of NaN.  I  need review how many column will need to be
#replaced or dropped.  there are possible 26 features
usedVehicle.head(10)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,pa,NaN,NaN,NaN

In [4]:
# Task 1.3
#
usedVehicle.describe()

,id,price,year,odometer,county,lat,long
count,4.268800e+05,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.311487e+09,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,4.473170e+06,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,7.207408e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,7.308143e+09,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,7.312621e+09,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,7.315254e+09,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,7.317101e+09,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

In [5]:
# Task 1.4
#
usedVehicle.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [6]:
# Task 1.5
usedVehicle.info

<bound method DataFrame.info of                 id                                                url  \
0       7222695916  https://prescott.craigslist.org/cto/d/prescott...
1       7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2       7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3       7222270760  https://worcester.craigslist.org/cto/d/west-br...
4       7210384030  https://greensboro.craigslist.org/cto/d/trinit...
...            ...                                                ...
426875  7301591192  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426876  7301591187  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426877  7301591147  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426878  7301591140  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426879  7301591129  https://wyoming.craigslist.org/ctd/d/atlanta-2...

                        region                         region_url  price  \
0                     prescott    https://prescott.craigslist.org   6000
1                 fayetteville       https://fayar.craigslist.org  11900
2                 florida keys        https://keys.craigslist.org  21000
3       worcester / central MA   https://worcester.craigslist.org   1500
4                   greensboro  https://greensboro.craigslist.org   4900
...                        ...                                ...    ...
426875                 wyoming     https://wyoming.craigslist.org  23590
426876                 wyoming     https://wyoming.craigslist.org  30590
426877                 wyoming     https://wyoming.craigslist.org  34990
426878                 wyoming     https://wyoming.craigslist.org  28990
426879                 wyoming     https://wyoming.craigslist.org  30590

          year manufacturer                     model condition    cylinders  \
0          NaN          NaN                       NaN       NaN          NaN
1          NaN          NaN                       NaN       NaN          NaN
2          NaN          NaN                       NaN       NaN          NaN
3          NaN          NaN                       NaN       NaN          NaN
4          NaN          NaN                       NaN       NaN          NaN
...        ...          ...                       ...       ...          ...
426875  2019.0       nissan         maxima s sedan 4d      good  6 cylinders
426876  2020.0        volvo  s60 t5 momentum sedan 4d      good          NaN
426877  2020.0     cadillac          xt4 sport suv 4d      good          NaN
426878  2018.0        lexus           es 350 sedan 4d      good  6 cylinders
426879  2019.0          bmw  4 series 430i gran coupe      good          NaN

        ... size       type paint_color  \
0       ...  NaN        NaN         NaN
1       ...  NaN        NaN         NaN
2       ...  NaN        NaN         NaN
3       ...  NaN        NaN         NaN
4       ...  NaN        NaN         NaN
...     ...  ...        ...         ...
426875  ...  NaN      sedan         NaN
426876  ...  NaN      sedan         red
426877  ...  NaN  hatchback       white
426878  ...  NaN      sedan      silver
426879  ...  NaN      coupe         NaN

                                                image_url  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
426875  https://images.craigslist.org/00o0o_iiraFnHg8q...
426876  https://images.craigslist.org/00x0x_15sbgnxCIS...
426877  https://images.craigslist.org/00L0L_farM7bxnxR...
426878  https://images.craigslist.org/00z0z_bKnIVGLkDT...
426879  https://images.craigslist.org/00Y0Y_lEUocjyRxa...

                                              description county state  \
0                                                     NaN    NaN    az
1                                                     NaN    NaN    ar
2                                                     NaN    NaN    fl
3                                                     NaN    NaN    ma
4                                                     NaN    NaN    nc
...                                                   ...    ...   ...
426875  Carvana is the safer way to buy a car During t...    NaN    wy
426876  Carvana is the safer way to buy a car During t...    NaN    wy
426877  Carvana is the safer way to buy a car During t...    NaN    wy
426878  Carvana is the safer way to buy a car During t...    NaN    wy
426879  Carvana is the safer way to buy a car During t...    NaN    wy

              lat       long              posting_date
0             NaN        NaN                       NaN
1             NaN        NaN                       NaN
2             NaN        NaN                       NaN
3             NaN        NaN                       NaN
4             NaN        NaN                       NaN
...           ...        ...                       ...
426875  33.786500 -84.445400  2021-04-04T03:21:31-0600
426876  33.786500 -84.445400  2021-04-04T03:21:29-0600
426877  33.779214 -84.411811  2021-04-04T03:21:17-0600
426878  33.786500 -84.445400  2021-04-04T03:21:11-0600
426879  33.779214 -84.411811  2021-04-04T03:21:07-0600

[426880 rows x 26 columns]>

In [7]:
# Task 1.6
usedVehicle.type

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
426875        sedan
426876        sedan
426877    hatchback
426878        sedan
426879        coupe
Name: type, Length: 426880, dtype: object

Section 2 delete column or clear NaN

I am dropping the URL column as the website path of listing is not needed.

In [8]:
#Task 2.0
#get a list of columns that is NaN
#  There is a possible of  426880 and county is 426880 NaN.  



bbb=usedVehicle.isna().sum()
bbb.sort_values(ascending = False)

county          426880
size            306361
cylinders       177678
condition       174104
VIN             161042
drive           130567
paint_color     130203
type             92858
manufacturer     17646
title_status      8242
lat               6549
long              6549
model             5277
odometer          4400
fuel              3013
transmission      2556
year              1205
description         70
image_url           68
posting_date        68
url                  0
price                0
state                0
region_url           0
region               0
id                   0
dtype: int64

In [9]:
#Task 2.1
#i will need to fill size of NaN vehicle to unknown
AA=usedVehicle.loc[usedVehicle['size'].notnull()]
AA

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
31,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,...,full-size,truck,black,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,NaN,al,32.592000,-85.518900,2021-05-03T14:02:03-0500
46,7315039307,https://auburn.craigslist.org/ctd/d/auburn-999...,auburn,https://auburn.craigslist.org,0,2011.0,jeep,compass,excellent,NaN,...,full-size,SUV,NaN,https://images.craigslist.org/00R0R_5Jaj1sPpiF...,Call or text now 800-213-0336 Open 9:00-6:00pm...,NaN,al,32.547500,-85.468200,2021-04-30T16:35:11-0500
55,7314560853,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,19900,2004.0,ford,f250 super duty,good,8 cylinders,...,full-size,pickup,blue,https://images.craigslist.org/01313_4Y4oq6ZXyp...,Here I have a unmolested Ford F-250 6.0 power ...,NaN,al,32.547500,-85.468200,2021-04-29T17:19:18-0500
59,7313406529,https://auburn.craigslist.org/cto/d/auburn-hon...,auburn,https://auburn.craigslist.org,14000,2012.0,honda,odyssey,excellent,6 cylinders,...,full-size,mini-van,silver,https://images.craigslist.org/00W0W_2r54x5TNSv...,"Readily available. Excellent condition, clean ...",NaN,al,32.628739,-85.461820,2021-04-27T12:20:01-0500
65,7312847466,https://auburn.craigslist.org/cto/d/opelika-20...,auburn,https://auburn.craigslist.org,22500,2001.0,ford,f450,good,8 cylinders,...,full-size,truck,white,https://images.craigslist.org/00606_94zWvEubE9...,"Ford Super Duty F450 , XL with King Ranch seat...",NaN,al,32.630400,-85.401600,2021-04-26T11:15:36-0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426809,7302963273,https://wyoming.craigslist.org/cto/d/jackson-1...,wyoming,https://wyoming.craigslist.org,18000,1990.0,jeep,gand wagoneer,good,8 cylinders,...,full-size,SUV,black,https://images.craigslist.org/00g0g_iKspzwitCl...,Patina Survivor... RARE Original condition. ...,NaN,wy,43.452800,-110.739300,2021-04-06T21:02:26-0600
426831,7302384818,https://wyoming.craigslist.org/cto/d/cheyenne-...,wyoming,https://wyoming.craigslist.org,9800,1985.0,nissan,300zx coupe with t-tops,like new,6 cylinders,...,sub-compact,hatchback,red,https://images.craigslist.org/00h0h_hGbhVx97PY...,"All original 1985 300zx, it’s a Automatic 3000...",NaN,wy,41.143700,-104.796200,2021-04-05T18:10:52-0600
426833,7302338378,https://wyoming.craigslist.org/cto/d/kirby-jag...,wyoming,https://wyoming.craigslist.org,6800,1997.0,jaguar,xk8 convertible,good,8 cylinders,...,compact,convertible,white,https://images.craigslist.org/00a0a_glcFDSsitm...,"Low mileage, garaged, no accidents, dents, or ...",NaN,wy,43.642930,-108.222976,2021-04-05T16:29:38-0600
426836,7302301268,https://wyoming.craigslist.org/ctd/d/dassel-20...,wyoming,https://wyoming.craigslist.org,0,2018.0,ram,2500,excellent,6 cylinders,...,full-size,truck,white,https://images.craigslist.org/00i0i_3cSpgdy0qQ...,Phone: 320-275-2150 2018 RAM 2500 Tradesman ...,NaN,wy,45.082436,-94.334686,2021-04-05T15:18:42-0600
426838,7302198494,https://wyoming.craigslist.org/cto/d/cheyenne-...,wyoming,https://wyoming.craigslist.org,21900,1920.0,NaN,Paige Glenbrook Touring,good,6 cylinders,...,full-size,other,black,https://images.craigslist.org/00C0C_3D2bgxR1cy...,"1920 Paige Glenbrook 6-42 ""Light Six"" Touring....",NaN,wy,41.183600,-104.802300,2021-04-05T12:31:46-0600

In [10]:
#Task 2.1
usedVehicle[['VIN','year','model','size','title_status','drive','type','posting_date']]

,VIN,year,model,size,title_status,drive,type,posting_date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
426875,1N4AA6AV6KC367801,2019.0,maxima s sedan 4d,NaN,clean,fwd,sedan,2021-04-04T03:21:31-0600
426876,7JR102FKXLG042696,2020.0,s60 t5 momentum sedan 4d,NaN,clean,fwd,sedan,2021-04-04T03:21:29-0600
426877,1GYFZFR46LF088296,2020.0,xt4 sport suv 4d,NaN,clean,NaN,hatchback,2021-04-04T03:21:17-0600
426878,58ABK1GG4JU103853,2018.0,es 350 sedan 4d,NaN,clean,fwd,sedan,2021-04-04T03:21:11-0600
426879,WBA4J1C58KBM14708,2019.0,4 series 430i gran coupe,NaN,clean,rwd,coupe,2021-04-04T03:21:07-0600

In [11]:
#Task 2.2
#Dropping this column because the NaN is 426880.  That meant the column is all NaN so unnecessary column
usedVehicle2 = usedVehicle.drop(['county'],axis=1)


#usedVehicle2 =      CCLoan.drop(CCLoan[columns_drop].columns,axis=1,inplace=True)

In [12]:
#Task 2.3
usedVehicle2

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,fwd,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,fwd,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,rwd,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [13]:
##Task 2.4

bbb=usedVehicle2.isna().sum()
bbb.sort_values(ascending = False)

size            306361
cylinders       177678
condition       174104
VIN             161042
drive           130567
paint_color     130203
type             92858
manufacturer     17646
title_status      8242
lat               6549
long              6549
model             5277
odometer          4400
fuel              3013
transmission      2556
year              1205
description         70
image_url           68
posting_date        68
url                  0
price                0
state                0
region_url           0
region               0
id                   0
dtype: int64

In [14]:
#Task 2.5

usedVehicle2.fillna({'size':'unknown','cylinders':'unknown','VIN':'blank','paint_color':'unknown','title_status':'unknown',
                     'lat':'unknown', 'long':'unknown','manufacturer':'unknown','condition':'unknown','drive':'unknown',
                     'type':'unknown', 'image_url':'none','description':'none'
              },inplace = True)

#dropping if it isna where the column data is in year, odometer, long, lat of vehicle because if i do not know year it is a important feature.

In [15]:
#Task 2.6
usedVehicle2.dropna(subset =['year','odometer','long','lat','posting_date','model'],inplace = True)

In [16]:
#Task 2.7
usedVehicle2.describe()

                 id         price           year      odometer
count  4.161490e+05  4.161490e+05  416149.000000  4.161490e+05
mean   7.311490e+09  6.158955e+04    2011.365749  9.766435e+04
std    4.383369e+06  1.108080e+07       9.140825  2.046903e+05
min    7.301583e+09  0.000000e+00    1900.000000  0.000000e+00
25%    7.308135e+09  5.995000e+03    2008.000000  3.800000e+04
50%    7.312610e+09  1.399100e+04    2014.000000  8.568200e+04
75%    7.315253e+09  2.650000e+04    2017.000000  1.335030e+05
max    7.317101e+09  3.736929e+09    2022.000000  1.000000e+07

In [17]:
##Task 2.8

usedVehicle2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416149 entries, 27 to 426879
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            416149 non-null  int64
 1   url           416149 non-null  object
 2   region        416149 non-null  object
 3   region_url    416149 non-null  object
 4   price         416149 non-null  int64
 5   year          416149 non-null  float64
 6   manufacturer  416149 non-null  object
 7   model         416149 non-null  object
 8   condition     416149 non-null  object
 9   cylinders     416149 non-null  object
 10  fuel          413977 non-null  object
 11  odometer      416149 non-null  float64
 12  title_status  416149 non-null  object
 13  transmission  414470 non-null  object
 14  VIN           416149 non-null  object
 15  drive         416149 non-null  object
 16  size          416149 non-null  object
 17  type          416149 non-null  object
 18  paint_color   416149 non-null  object
 19  image_url     416149 non-null  object
 20  description   416149 non-null  object
 21  state         416149 non-null  object
 22  lat           416149 non-null  object
 23  long          416149 non-null  object
 24  posting_date  416149 non-null  object
dtypes: float64(2), int64(2), object(21)
memory usage: 82.5+ MB

In [18]:
#3.0
# validating if i need to reformat data
usedVehicle2['posting_date'].unique

<bound method Series.unique of 27        2021-05-04T12:31:18-0500
28        2021-05-04T12:31:08-0500
29        2021-05-04T12:31:25-0500
30        2021-05-04T10:41:31-0500
31        2021-05-03T14:02:03-0500
                    ...
426875    2021-04-04T03:21:31-0600
426876    2021-04-04T03:21:29-0600
426877    2021-04-04T03:21:17-0600
426878    2021-04-04T03:21:11-0600
426879    2021-04-04T03:21:07-0600
Name: posting_date, Length: 416149, dtype: object>

In [19]:
#Task 3.1
#usedVehicle2['posting_date']=pd.to_datetime(usedVehicle2['posting_date'])
#verify that data is datetime before conversion

In [20]:
#Task 3.1.1
#This is not working where it tells me if that data is configure as time stamp
usedVehicle2['posting_date'][27]

'2021-05-04T12:31:18-0500'

output from Task 3.1.1 is '2021-05-04T12:31:18-0500' so it doesnt seem to be a date time stamp format.  Changing the format in 3.1.2

In [21]:
#Task 3.1.2
usedVehicle2['posting_date']=pd.to_datetime(usedVehicle2['posting_date'])
#verify that data is datetime before conversion

In [22]:
#Task 3.1.3
usedVehicle2['posting_date'][27]

datetime.datetime(2021, 5, 4, 12, 31, 18, tzinfo=tzoffset(None, -18000))

In [23]:
##Task 3.2
#verify that data is datetime before conversion

#usedVehicle2['posting_date']=pd.to_datetime(usedVehicle2['posting_date'])

In [24]:
#Task 3.3
usedVehicle2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416149 entries, 27 to 426879
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            416149 non-null  int64
 1   url           416149 non-null  object
 2   region        416149 non-null  object
 3   region_url    416149 non-null  object
 4   price         416149 non-null  int64
 5   year          416149 non-null  float64
 6   manufacturer  416149 non-null  object
 7   model         416149 non-null  object
 8   condition     416149 non-null  object
 9   cylinders     416149 non-null  object
 10  fuel          413977 non-null  object
 11  odometer      416149 non-null  float64
 12  title_status  416149 non-null  object
 13  transmission  414470 non-null  object
 14  VIN           416149 non-null  object
 15  drive         416149 non-null  object
 16  size          416149 non-null  object
 17  type          416149 non-null  object
 18  paint_color   416149 non-null  object
 19  image_url     416149 non-null  object
 20  description   416149 non-null  object
 21  state         416149 non-null  object
 22  lat           416149 non-null  object
 23  long          416149 non-null  object
 24  posting_date  416149 non-null  object
dtypes: float64(2), int64(2), object(21)
memory usage: 98.7+ MB

In [25]:
#Task 3.4

In [26]:
#Task 3.5
bbb=usedVehicle2.isna().sum()
bbb.sort_values(ascending = False)

fuel            2172
transmission    1679
id                 0
long               0
lat                0
state              0
description        0
image_url          0
paint_color        0
type               0
size               0
drive              0
VIN                0
title_status       0
url                0
odometer           0
cylinders          0
condition          0
model              0
manufacturer       0
year               0
price              0
region_url         0
region             0
posting_date       0
dtype: int64

In [27]:
#Task 3.6
#usedVehicle2[['VIN','year','model','size','title_status','drive','type','posting_date']]

In [28]:
#Task 3.7
#usedVehicle2.replace({'posting_date':{'T': ' '}},inplace = True)

In [29]:
#Task 3.8
#usedVehicle2[['VIN','year','model','size','title_status','drive','type','posting_date']]

bbb=usedVehicle2.isna().sum()
bbb.sort_values(ascending = False)

In [30]:
#Task 4.0
usedVehicle2[['model','fuel','transmission']]

                           model    fuel transmission
27      sierra 1500 crew cab slt     gas        other
28                silverado 1500     gas        other
29           silverado 1500 crew     gas        other
30          tundra double cab sr     gas        other
31                     f-150 xlt     gas    automatic
...                          ...     ...          ...
426875         maxima s sedan 4d     gas        other
426876  s60 t5 momentum sedan 4d     gas        other
426877          xt4 sport suv 4d  diesel        other
426878           es 350 sedan 4d     gas        other
426879  4 series 430i gran coupe     gas        other

[416149 rows x 3 columns]

In [31]:
#Task 4.1
usedVehicle2['transmission'].unique()

array(['other', 'automatic', 'manual', nan], dtype=object)

In [32]:
#Task 4.2
usedVehicle2['fuel'].unique()

array(['gas', 'other', 'diesel', 'hybrid', nan, 'electric'], dtype=object)

In [33]:
#Task 4.3
usedVehicle2['model'].unique()

array(['sierra 1500 crew cab slt', 'silverado 1500',
       'silverado 1500 crew', ..., 'gand wagoneer', '96 Suburban',
       'Paige Glenbrook Touring'], dtype=object)

In [34]:
#Task 4.4
#getting rid of last 2 NaN
usedVehicle2.fillna({'fuel':'unknown','transmission':'unknown'
              },inplace = True)

In [35]:
usedVehicle2[['VIN','year','model','size','title_status','drive','type','posting_date']]

,VIN,year,model,size,title_status,drive,type,posting_date
27,3GTP1VEC4EG551563,2014.0,sierra 1500 crew cab slt,unknown,clean,unknown,pickup,2021-05-04 12:31:18-05:00
28,1GCSCSE06AZ123805,2010.0,silverado 1500,unknown,clean,unknown,pickup,2021-05-04 12:31:08-05:00
29,3GCPWCED5LG130317,2020.0,silverado 1500 crew,unknown,clean,unknown,pickup,2021-05-04 12:31:25-05:00
30,5TFRM5F17HX120972,2017.0,tundra double cab sr,unknown,clean,unknown,pickup,2021-05-04 10:41:31-05:00
31,blank,2013.0,f-150 xlt,full-size,clean,rwd,truck,2021-05-03 14:02:03-05:00
...,...,...,...,...,...,...,...,...
426875,1N4AA6AV6KC367801,2019.0,maxima s sedan 4d,unknown,clean,fwd,sedan,2021-04-04 03:21:31-06:00
426876,7JR102FKXLG042696,2020.0,s60 t5 momentum sedan 4d,unknown,clean,fwd,sedan,2021-04-04 03:21:29-06:00
426877,1GYFZFR46LF088296,2020.0,xt4 sport suv 4d,unknown,clean,unknown,hatchback,2021-04-04 03:21:17-06:00
426878,58ABK1GG4JU103853,2018.0,es 350 sedan 4d,unknown,clean,fwd,sedan,2021-04-04 03:21:11-06:00
426879,WBA4J1C58KBM14708,2019.0,4 series 430i gran coupe,unknown,clean,rwd,coupe,2021-04-04 03:21:07-06:00

In [36]:
usedVehicle2['VIN'].unique()

array(['3GTP1VEC4EG551563', '1GCSCSE06AZ123805', '3GCPWCED5LG130317', ...,
       '2HGES15535H620534', '1FDWF37P64EA24868', 'SAJGX2749VCOO8376'],
      dtype=object)

In [37]:
#Task 5
# Export Data for EDA
usedVehicle2.to_csv(r'.\Data\UsedCarData\clean_vehicles.csv',index = 0)