Task numbering 
1 - data masaaging and showing data 

2 - correlation testing and dropping correlated data 

3 - convert to dummy 

4 - Train data/ fit data / scale 


5 - export scaled and fit data

In [1]:
#Task 1.0  import libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from  sklearn import preprocessing

In [2]:
#Task 1.1  import csv file
UsedVehicle=pd.read_csv(r'.\Data\UsedCarData\clean_vehicles.csv')

In [23]:
UsedVehicle

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,lat,long,posting_date,posting_date2
0,auburn,9.615872,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,11.759793,clean,automatic,rwd,truck,black,al,32.592000,-85.518900,2021-05-03T14:02:03-0500,2021-05-03
1,auburn,10.239638,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,11.137461,clean,other,4wd,pickup,black,al,32.590000,-85.480000,2021-05-03T13:41:25-0500,2021-05-03
2,auburn,10.451349,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,10.292146,clean,other,4wd,pickup,silver,al,32.590000,-85.480000,2021-05-03T12:41:33-0500,2021-05-03
3,auburn,10.463132,2019.0,toyota,tacoma,excellent,6 cylinders,gas,10.668979,clean,automatic,4wd,truck,grey,al,32.601300,-85.443974,2021-05-03T12:12:59-0500,2021-05-03
4,auburn,10.308653,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,9.758635,clean,other,4wd,pickup,red,al,32.590000,-85.480000,2021-05-03T11:31:14-0500,2021-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129878,wyoming,10.149996,2017.0,unknown,Genesis G80 3.8 Sedan 4D,good,6 cylinders,gas,10.534999,clean,automatic,rwd,sedan,white,wy,33.786500,-84.445400,2021-04-05T02:50:20-0600,2021-04-05
129879,wyoming,10.403990,2016.0,infiniti,qx80 sport utility 4d,good,8 cylinders,gas,10.926172,clean,automatic,rwd,other,black,wy,33.779214,-84.411811,2021-04-05T02:41:26-0600,2021-04-05
129880,wyoming,0.000000,2010.0,toyota,venza,excellent,6 cylinders,gas,11.951187,clean,automatic,4wd,unknown,blue,wy,40.114685,-104.971971,2021-04-04T17:00:48-0600,2021-04-04
129881,wyoming,10.422013,2018.0,lexus,gs 350 sedan 4d,good,6 cylinders,gas,10.335757,clean,automatic,rwd,sedan,white,wy,33.779214,-84.411811,2021-04-04T03:21:34-0600,2021-04-04
129882,wyoming,10.274741,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,10.312712,clean,other,fwd,sedan,silver,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600,2021-04-04

In [3]:
#Task 1.2  

UsedVehicle.head(10)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,lat,long,posting_date,posting_date2
0,auburn,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al,32.5920,-85.518900,2021-05-03T14:02:03-0500,2021-05-03
1,auburn,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,4wd,pickup,black,al,32.5900,-85.480000,2021-05-03T13:41:25-0500,2021-05-03
2,auburn,34590,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,29499.0,clean,other,4wd,pickup,silver,al,32.5900,-85.480000,2021-05-03T12:41:33-0500,2021-05-03
3,auburn,35000,2019.0,toyota,tacoma,excellent,6 cylinders,gas,43000.0,clean,automatic,4wd,truck,grey,al,32.6013,-85.443974,2021-05-03T12:12:59-0500,2021-05-03
4,auburn,29990,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,17302.0,clean,other,4wd,pickup,red,al,32.5900,-85.480000,2021-05-03T11:31:14-0500,2021-05-03
5,auburn,38590,2011.0,chevrolet,corvette grand sport,good,8 cylinders,gas,30237.0,clean,other,rwd,other,red,al,32.5900,-85.480000,2021-05-03T07:50:35-0500,2021-05-03
6,auburn,32990,2017.0,jeep,wrangler unlimited sport,good,6 cylinders,gas,30041.0,clean,other,4wd,other,silver,al,32.5900,-85.480000,2021-05-02T12:22:10-0500,2021-05-02
7,auburn,37990,2016.0,chevrolet,camaro ss coupe 2d,good,8 cylinders,gas,9704.0,clean,other,rwd,coupe,red,al,32.5900,-85.480000,2021-05-01T12:21:51-0500,2021-05-01
8,auburn,27990,2018.0,nissan,frontier crew cab pro-4x,good,6 cylinders,gas,37332.0,clean,other,4wd,pickup,silver,al,32.5900,-85.480000,2021-05-01T09:11:35-0500,2021-05-01
9,auburn,19900,2004.0,ford,f250 super duty,good,8 cylinders,diesel,88000.0,clean,automatic,4wd,pickup,blue,al,32.5475,-85.468200,2021-04-29T17:19:18-0500,2021-04-29

In [4]:
#Task 1.3
UsedVehicle.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
       'drive', 'type', 'paint_color', 'state', 'lat', 'long', 'posting_date',
       'posting_date2'],
      dtype='object')

In [5]:
#Task 1.5

UsedVehicle.describe()

              price           year      odometer            lat           long
count  1.298830e+05  129883.000000  1.298830e+05  129883.000000  129883.000000
mean   8.460142e+04    2008.978881  1.138283e+05      38.468165     -92.228412
std    1.499706e+07      10.419513  2.247545e+05       5.528921      17.417677
min    0.000000e+00    1900.000000  0.000000e+00     -84.122245    -159.719900
25%    5.500000e+03    2006.000000  5.700000e+04      35.031300    -104.654790
50%    1.090000e+04    2011.000000  1.039730e+05      39.384750     -86.236592
75%    2.250000e+04    2015.000000  1.490000e+05      42.249000     -79.949997
max    3.736929e+09    2022.000000  1.000000e+07      82.252826     173.885502

In [6]:
#Task 1.6 converting values in the column in this cell to be a more managable numbers.  Using Log1p function.  
# log1p is used instead of log because there is a column AMT_ANNUITY with value of 0

num_features=['price','odometer']

for feature in num_features:
    UsedVehicle[feature]=np.log1p(UsedVehicle[feature])

In [7]:
#Task 1.6
UsedVehicle.describe()

,price,year,odometer,lat,long
count,129883.000000,129883.000000,129883.000000,129883.000000,129883.000000
mean,8.895812,2008.978881,11.225280,38.468165,-92.228412
std,2.135581,10.419513,1.308642,5.528921,17.417677
min,0.000000,1900.000000,0.000000,-84.122245,-159.719900
25%,8.612685,2006.000000,10.950824,35.031300,-104.654790
50%,9.296610,2011.000000,11.551896,39.384750,-86.236592
75%,10.021315,2015.000000,11.911708,42.249000,-79.949997
max,22.041530,2022.000000,16.118096,82.252826,173.885502

In [8]:
UsedVehicle.head()

#thinking of dropping posting_date and description

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,lat,long,posting_date,posting_date2
0,auburn,9.615872,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,11.759793,clean,automatic,rwd,truck,black,al,32.5920,-85.518900,2021-05-03T14:02:03-0500,2021-05-03
1,auburn,10.239638,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,11.137461,clean,other,4wd,pickup,black,al,32.5900,-85.480000,2021-05-03T13:41:25-0500,2021-05-03
2,auburn,10.451349,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,10.292146,clean,other,4wd,pickup,silver,al,32.5900,-85.480000,2021-05-03T12:41:33-0500,2021-05-03
3,auburn,10.463132,2019.0,toyota,tacoma,excellent,6 cylinders,gas,10.668979,clean,automatic,4wd,truck,grey,al,32.6013,-85.443974,2021-05-03T12:12:59-0500,2021-05-03
4,auburn,10.308653,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,9.758635,clean,other,4wd,pickup,red,al,32.5900,-85.480000,2021-05-03T11:31:14-0500,2021-05-03

In [9]:
# Task 2.0.0
# with the following function we can select highly correlated features
# it will identify so I can remove the first feature that is correlated with anything other feature

def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    #corr_matrix = dataset.corr()
    df= dataset.drop(columns='price')
    #df= dataset.drop(colums= 'Late_Payments')#doing this step above to 
    df_corr= df.corr()
    for i in range(len(df_corr.columns)):
        for j in range(i):
            if abs(df_corr.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = df_corr.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [10]:
#Task 2.1.1
corr_features = correlation(UsedVehicle , 0.7)#coefficent corelated if 70%, 
                                        #if i adjust threshold i can control how many feature to drop. 

len(set(corr_features))

0

In [11]:
#Task 2.1.2
# after doing a
corr_features

set()

#Task 3
#unable run too big

dummy=pd.get_dummies(UsedVehicle)

In the cell I tried to get dummy of data but needed 11.3 GB.  I will split random split data randomly.  The data will now be (208074,29236)

In [22]:
#Task 3.1.0
split = UsedVehicle.sample(frac=0.6,random_state=200)

In [26]:
#Task 3.1.1
split

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,lat,long,posting_date,posting_date2
2011,anchorage / mat-su,10.596535,2020.0,acura,mdx,like new,6 cylinders,gas,2.397895,clean,automatic,fwd,SUV,red,ak,61.218330,-149.868922,2021-04-21T18:36:14-0800,2021-04-21
56761,south coast,8.732466,2009.0,nissan,altima sl,good,4 cylinders,gas,11.416448,clean,automatic,fwd,sedan,silver,ma,41.718200,-71.140000,2021-04-09T18:27:03-0400,2021-04-09
24905,new haven,8.516393,2010.0,honda,civic,like new,4 cylinders,gas,11.775297,clean,automatic,fwd,coupe,black,ct,41.302152,-72.962952,2021-04-07T08:33:42-0400,2021-04-07
10679,modesto,8.612685,2004.0,bmw,3 series,excellent,6 cylinders,gas,11.896731,clean,automatic,fwd,coupe,blue,ca,37.691100,-121.015900,2021-04-25T15:57:46-0700,2021-04-25
125023,yakima,8.853094,2014.0,chevrolet,cruze,good,4 cylinders,gas,11.538262,clean,manual,fwd,sedan,grey,wa,46.592773,-120.487833,2021-04-19T10:39:32-0700,2021-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88258,new hampshire,8.853808,2013.0,nissan,altima,excellent,4 cylinders,gas,11.751950,clean,automatic,fwd,sedan,brown,nh,42.779000,-71.474800,2021-04-22T12:48:17-0400,2021-04-22
118782,vermont,9.851984,2018.0,nissan,sentra sv,like new,4 cylinders,gas,9.627471,clean,automatic,fwd,sedan,grey,vt,44.977300,-73.446600,2021-05-01T11:46:33-0400,2021-05-01
91253,columbus,9.468928,2013.0,honda,cr-v,excellent,4 cylinders,gas,11.543008,clean,automatic,4wd,SUV,blue,oh,40.002779,-83.133361,2021-05-04T13:00:19-0400,2021-05-04
96580,tulsa,8.839422,2004.0,chevrolet,silverado 1500,good,8 cylinders,gas,12.173441,clean,automatic,rwd,truck,silver,ok,36.192874,-95.758980,2021-04-23T15:47:46-0500,2021-04-23
65117,minneapolis / st paul,10.085434,2013.0,lincoln,navigator sport utility,good,8 cylinders,gas,11.051937,clean,other,4wd,other,black,mn,44.980000,-93.560000,2021-05-03T10:41:04-0500,2021-05-03

<bound method DataFrame.info of                         region      price    year manufacturer  \
2011        anchorage / mat-su  10.596535  2020.0        acura
56761              south coast   8.732466  2009.0       nissan
24905                new haven   8.516393  2010.0        honda
10679                  modesto   8.612685  2004.0          bmw
125023                  yakima   8.853094  2014.0    chevrolet
...                        ...        ...     ...          ...
57887   worcester / central MA   9.209940  2006.0          ram
31908       sarasota-bradenton   9.104091  2009.0       toyota
63402                the thumb  10.462846  2018.0         ford
82070                  buffalo   9.158099  2013.0          kia
94458               youngstown   9.388570  2007.0        honda

                     model  condition    cylinders fuel   odometer  \
2011                   mdx   like new  6 cylinders  gas   2.397895
56761            altima sl       good  4 cylinders  gas  11.416448
24905                civic   like new  4 cylinders  gas  11.775297
10679             3 series  excellent  6 cylinders  gas  11.896731
125023               cruze       good  4 cylinders  gas  11.538262
...                    ...        ...          ...  ...        ...
57887                 1500  excellent  8 cylinders  gas  11.918204
31908                venza  excellent  4 cylinders  gas  11.889161
63402   mustang gt premium       good  8 cylinders  gas   9.833655
82070               optima  excellent  4 cylinders  gas  11.508094
94458            ridgeline  excellent  6 cylinders  gas  11.719948

       title_status transmission drive         type paint_color state  \
2011          clean    automatic   fwd          SUV         red    ak
56761         clean    automatic   fwd        sedan      silver    ma
24905         clean    automatic   fwd        coupe       black    ct
10679         clean    automatic   fwd        coupe        blue    ca
125023        clean       manual   fwd        sedan        grey    wa
...             ...          ...   ...          ...         ...   ...
57887         clean    automatic   4wd       pickup       white    ma
31908         clean    automatic   fwd          van       black    fl
63402         clean        other   rwd  convertible       black    mi
82070         clean    automatic   fwd        sedan       brown    ny
94458         clean    automatic   4wd          SUV      silver    oh

              lat        long              posting_date posting_date2
2011    61.218330 -149.868922  2021-04-21T18:36:14-0800    2021-04-21
56761   41.718200  -71.140000  2021-04-09T18:27:03-0400    2021-04-09
24905   41.302152  -72.962952  2021-04-07T08:33:42-0400    2021-04-07
10679   37.691100 -121.015900  2021-04-25T15:57:46-0700    2021-04-25
125023  46.592773 -120.487833  2021-04-19T10:39:32-0700    2021-04-19
...           ...         ...                       ...           ...
57887   42.225504  -71.762086  2021-04-23T08:16:36-0400    2021-04-23
31908   27.093300  -82.449800  2021-04-23T16:10:44-0400    2021-04-23
63402   33.786500  -84.445400  2021-04-10T06:11:18-0400    2021-04-10
82070   42.958338  -78.878725  2021-04-13T13:58:45-0400    2021-04-13
94458   41.089134  -80.704291  2021-04-30T16:25:36-0400    2021-04-30

[32471 rows x 19 columns]>

In [27]:
#Task 3.1.2
dummy=pd.get_dummies(split)

random forest, decision tree.  (high cardinality)

sklearn.preprocessing.LabelEncoder[source]

In [17]:
#Task 3.1
dummy.shape

(32471, 39218)

In [18]:
#Task 3.2
dummy

,price,year,odometer,lat,long,region_SF bay area,region_abilene,region_akron / canton,region_albany,region_albuquerque,...,posting_date2_2021-04-25,posting_date2_2021-04-26,posting_date2_2021-04-27,posting_date2_2021-04-28,posting_date2_2021-04-29,posting_date2_2021-04-30,posting_date2_2021-05-01,posting_date2_2021-05-02,posting_date2_2021-05-03,posting_date2_2021-05-04
2011,10.596535,2020.0,2.397895,61.218330,-149.868922,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56761,8.732466,2009.0,11.416448,41.718200,-71.140000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24905,8.516393,2010.0,11.775297,41.302152,-72.962952,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10679,8.612685,2004.0,11.896731,37.691100,-121.015900,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
125023,8.853094,2014.0,11.538262,46.592773,-120.487833,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57887,9.209940,2006.0,11.918204,42.225504,-71.762086,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31908,9.104091,2009.0,11.889161,27.093300,-82.449800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63402,10.462846,2018.0,9.833655,33.786500,-84.445400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82070,9.158099,2013.0,11.508094,42.958338,-78.878725,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94458,9.388570,2007.0,11.719948,41.089134,-80.704291,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [28]:

#Task 3.3
X=dummy.drop(columns='price')
y=dummy['price']

X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=dummy['price'], test_size=0.25)
#remove train and split and data and will be placed into end of features

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:

#Task 4.0

X=X_train  #calling x_train
y=y_train#y_train
scaler = preprocessing.StandardScaler().fit(X)
X_scaled=scaler.transform(X)
X_scaled

In [ ]:

#Task 4.1

X_scaled = pd.DataFrame(X_scaled,columns =X_train.columns)

In [ ]:

#Task 4.2
#need to scale test data,  use x_test and y_test

Xtest=X_test  #calling x_test
ytest= y_test #y_test
Xtest_scaled=scaler.transform(Xtest)
Xtest_scaled

In [ ]:
:
#Task 4.3
Xtest_scaled = pd.DataFrame(Xtest_scaled,columns =X_test.columns)

In [ ]:
#Task 5  export fit and scaled data
# save the state_summary separately.
# drop index so i dont need to have later  xtrain, ytrain, xtest, ytest
# X_sclaed = train data
# y = train data
# Xtest_scaled = test data
# ytest = y test data
X_scaled.to_csv(r'.\DataTrack\Capstone 3\Data\UsedCarData\X_Train_Output.csv',index = 0)
Xtest_scaled.to_csv(r'.\DataTrack\Capstone 3\Data\UsedCarData\X_Test_Output.csv',index = 0)
y.to_csv(r'.\DataTrack\Capstone 3\Data\UsedCarData\y_Train_Output.csv',index = 0)
ytest.to_csv(r'.\DataTrack\Capstone 3\Data\UsedCarData\y_Test_Output.csv',index = 0)