Task numbering 
Task 1 - data masaaging and showing data 

Task 2 - correlation testing and dropping correlated data 

Task 3 - convert to dummy 

Task 4 - Train data/ fit data / scale 


Task 5 - export scaled and fit data

In [1]:
#Task 1.0  import libraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from  sklearn import preprocessing

In [2]:
#Task 1.1  import csv file
UsedVehicle=pd.read_csv(r'.\Data\UsedCarData\clean_vehicles2.csv')

In [3]:
UsedVehicle

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,lat,long,posting_date2
0,auburn,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al,32.592000,-85.518900,2021-05-03
1,auburn,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,4wd,pickup,black,al,32.590000,-85.480000,2021-05-03
2,auburn,34590,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,29499.0,clean,other,4wd,pickup,silver,al,32.590000,-85.480000,2021-05-03
3,auburn,35000,2019.0,toyota,tacoma,excellent,6 cylinders,gas,43000.0,clean,automatic,4wd,truck,grey,al,32.601300,-85.443974,2021-05-03
4,auburn,29990,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,17302.0,clean,other,4wd,pickup,red,al,32.590000,-85.480000,2021-05-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129860,wyoming,25590,2017.0,unknown,Genesis G80 3.8 Sedan 4D,good,6 cylinders,gas,37608.0,clean,automatic,rwd,sedan,white,wy,33.786500,-84.445400,2021-04-05
129861,wyoming,32990,2016.0,infiniti,qx80 sport utility 4d,good,8 cylinders,gas,55612.0,clean,automatic,rwd,other,black,wy,33.779214,-84.411811,2021-04-05
129862,wyoming,0,2010.0,toyota,venza,excellent,6 cylinders,gas,155000.0,clean,automatic,4wd,unknown,blue,wy,40.114685,-104.971971,2021-04-04
129863,wyoming,33590,2018.0,lexus,gs 350 sedan 4d,good,6 cylinders,gas,30814.0,clean,automatic,rwd,sedan,white,wy,33.779214,-84.411811,2021-04-04
129864,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,fwd,sedan,silver,wy,33.786500,-84.445400,2021-04-04

In [4]:
#Task 1.2  

UsedVehicle.head(10)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,lat,long,posting_date2
0,auburn,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al,32.5920,-85.518900,2021-05-03
1,auburn,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,4wd,pickup,black,al,32.5900,-85.480000,2021-05-03
2,auburn,34590,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,29499.0,clean,other,4wd,pickup,silver,al,32.5900,-85.480000,2021-05-03
3,auburn,35000,2019.0,toyota,tacoma,excellent,6 cylinders,gas,43000.0,clean,automatic,4wd,truck,grey,al,32.6013,-85.443974,2021-05-03
4,auburn,29990,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,17302.0,clean,other,4wd,pickup,red,al,32.5900,-85.480000,2021-05-03
5,auburn,38590,2011.0,chevrolet,corvette grand sport,good,8 cylinders,gas,30237.0,clean,other,rwd,other,red,al,32.5900,-85.480000,2021-05-03
6,auburn,32990,2017.0,jeep,wrangler unlimited sport,good,6 cylinders,gas,30041.0,clean,other,4wd,other,silver,al,32.5900,-85.480000,2021-05-02
7,auburn,37990,2016.0,chevrolet,camaro ss coupe 2d,good,8 cylinders,gas,9704.0,clean,other,rwd,coupe,red,al,32.5900,-85.480000,2021-05-01
8,auburn,27990,2018.0,nissan,frontier crew cab pro-4x,good,6 cylinders,gas,37332.0,clean,other,4wd,pickup,silver,al,32.5900,-85.480000,2021-05-01
9,auburn,19900,2004.0,ford,f250 super duty,good,8 cylinders,diesel,88000.0,clean,automatic,4wd,pickup,blue,al,32.5475,-85.468200,2021-04-29

In [5]:
#Task 1.3
UsedVehicle.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
       'drive', 'type', 'paint_color', 'state', 'lat', 'long',
       'posting_date2'],
      dtype='object')

In [6]:
#Task 1.5

UsedVehicle.describe()

,price,year,odometer,lat,long
count,129865.000000,129865.000000,1.298650e+05,129865.000000,129865.000000
mean,15357.131152,2008.980056,1.138303e+05,38.467921,-92.227477
std,13731.514271,10.418132,2.247677e+05,5.528774,17.417292
min,0.000000,1900.000000,0.000000e+00,-84.122245,-159.719900
25%,5500.000000,2006.000000,5.700000e+04,35.031262,-104.649129
50%,10900.000000,2011.000000,1.039730e+05,39.384750,-86.236592
75%,22500.000000,2015.000000,1.490000e+05,42.247600,-79.949997
max,195000.000000,2022.000000,1.000000e+07,82.252826,173.885502

In [7]:
#Task 1.6 converting values in the column in this cell to be a more managable numbers.  Using Log1p function.  
# log1p is used instead of log because there is a column AMT_ANNUITY with value of 0

num_features=['price','odometer']

for feature in num_features:
    UsedVehicle[feature]=np.log1p(UsedVehicle[feature])

In [8]:
#Task 1.6
UsedVehicle.describe()

,price,year,odometer,lat,long
count,129865.000000,129865.000000,129865.000000,129865.000000,129865.000000
mean,8.894858,2008.980056,11.225351,38.467921,-92.227477
std,2.133822,10.418132,1.308568,5.528774,17.417292
min,0.000000,1900.000000,0.000000,-84.122245,-159.719900
25%,8.612685,2006.000000,10.950824,35.031262,-104.649129
50%,9.296610,2011.000000,11.551896,39.384750,-86.236592
75%,10.021315,2015.000000,11.911708,42.247600,-79.949997
max,12.180760,2022.000000,16.118096,82.252826,173.885502

In [9]:
UsedVehicle.head()

#thinking of dropping posting_date and description

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,lat,long,posting_date2
0,auburn,9.615872,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,11.759793,clean,automatic,rwd,truck,black,al,32.5920,-85.518900,2021-05-03
1,auburn,10.239638,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,11.137461,clean,other,4wd,pickup,black,al,32.5900,-85.480000,2021-05-03
2,auburn,10.451349,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,10.292146,clean,other,4wd,pickup,silver,al,32.5900,-85.480000,2021-05-03
3,auburn,10.463132,2019.0,toyota,tacoma,excellent,6 cylinders,gas,10.668979,clean,automatic,4wd,truck,grey,al,32.6013,-85.443974,2021-05-03
4,auburn,10.308653,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,9.758635,clean,other,4wd,pickup,red,al,32.5900,-85.480000,2021-05-03

In [10]:
# Task 2.0.0
# with the following function we can select highly correlated features
# it will identify so I can remove the first feature that is correlated with anything other feature

def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    #corr_matrix = dataset.corr()
    df= dataset.drop(columns='price')
    #df= dataset.drop(colums= 'Late_Payments')#doing this step above to 
    df_corr= df.corr()
    for i in range(len(df_corr.columns)):
        for j in range(i):
            if abs(df_corr.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = df_corr.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [11]:
#Task 2.1.1
corr_features = correlation(UsedVehicle , 0.7)#coefficent corelated if 70%, 
                                        #if i adjust threshold i can control how many feature to drop. 

len(set(corr_features))

0

In [12]:
#Task 2.1.2
# after doing a
corr_features

set()

In [13]:
#Task 3.1.0

uv2 =UsedVehicle.drop(['posting_date2','region','state','model'],axis=1)

In [14]:
#Task 3.1.2

uv2

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,lat,long
0,9.615872,2013.0,ford,excellent,6 cylinders,gas,11.759793,clean,automatic,rwd,truck,black,32.592000,-85.518900
1,10.239638,2012.0,gmc,good,8 cylinders,gas,11.137461,clean,other,4wd,pickup,black,32.590000,-85.480000
2,10.451349,2016.0,chevrolet,good,6 cylinders,gas,10.292146,clean,other,4wd,pickup,silver,32.590000,-85.480000
3,10.463132,2019.0,toyota,excellent,6 cylinders,gas,10.668979,clean,automatic,4wd,truck,grey,32.601300,-85.443974
4,10.308653,2016.0,chevrolet,good,6 cylinders,gas,9.758635,clean,other,4wd,pickup,red,32.590000,-85.480000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129860,10.149996,2017.0,unknown,good,6 cylinders,gas,10.534999,clean,automatic,rwd,sedan,white,33.786500,-84.445400
129861,10.403990,2016.0,infiniti,good,8 cylinders,gas,10.926172,clean,automatic,rwd,other,black,33.779214,-84.411811
129862,0.000000,2010.0,toyota,excellent,6 cylinders,gas,11.951187,clean,automatic,4wd,unknown,blue,40.114685,-104.971971
129863,10.422013,2018.0,lexus,good,6 cylinders,gas,10.335757,clean,automatic,rwd,sedan,white,33.779214,-84.411811
129864,10.274741,2018.0,lexus,good,6 cylinders,gas,10.312712,clean,other,fwd,sedan,silver,33.786500,-84.445400

In [15]:
#Task 3.1.3

dummy=pd.get_dummies(uv2)

In [16]:
#Task 3.1.4

dummy.shape

(129865, 105)

In [17]:
#Task 3.1.5

dummy

,price,year,odometer,lat,long,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,...,paint_color_brown,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow
0,9.615872,2013.0,11.759793,32.592000,-85.518900,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10.239638,2012.0,11.137461,32.590000,-85.480000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10.451349,2016.0,10.292146,32.590000,-85.480000,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,10.463132,2019.0,10.668979,32.601300,-85.443974,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,10.308653,2016.0,9.758635,32.590000,-85.480000,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129860,10.149996,2017.0,10.534999,33.786500,-84.445400,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
129861,10.403990,2016.0,10.926172,33.779214,-84.411811,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
129862,0.000000,2010.0,11.951187,40.114685,-104.971971,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
129863,10.422013,2018.0,10.335757,33.779214,-84.411811,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
129864,10.274741,2018.0,10.312712,33.786500,-84.445400,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [18]:
#Task 3.2
X=dummy.drop(columns='price')
y=dummy['price']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25)

In [19]:

#Task 4.0

X=X_train  #calling x_train
y=y_train#y_train
scaler = preprocessing.StandardScaler().fit(X)
X_scaled=scaler.transform(X)

X_scaled

array([[ 0.7695968 , -0.01856923, -0.3957993 , ..., -0.40507661,
        -0.57576163, -0.09882364],
       [ 0.38526797,  0.39562262, -1.01815781, ..., -0.40507661,
        -0.57576163, -0.09882364],
       [ 0.38526797,  0.34775865,  0.72188014, ..., -0.40507661,
         1.73682987, -0.09882364],
       ...,
       [ 0.09702135,  0.60939763,  1.59559458, ..., -0.40507661,
        -0.57576163, -0.09882364],
       [-0.76771852,  0.04137017, -0.73846123, ..., -0.40507661,
        -0.57576163, -0.09882364],
       [ 0.7695968 ,  0.12375771,  0.55334614, ..., -0.40507661,
         1.73682987, -0.09882364]])

In [20]:
#Task 4.1

X_scaled = pd.DataFrame(X_scaled,columns =X_train.columns)

In [21]:
#Task 4.2
#need to scale test data,  use x_test and y_test

Xtest=X_test  #calling x_test
ytest= y_test #y_test
Xtest_scaled=scaler.transform(Xtest)
Xtest_scaled

array([[ 1.05784342, -3.7280531 ,  0.60341535, ..., -0.40507661,
        -0.57576163, -0.09882364],
       [ 0.48135018,  0.01081301,  0.22278282, ..., -0.40507661,
         1.73682987, -0.09882364],
       [ 0.38526797,  0.36233303,  0.02454041, ..., -0.40507661,
        -0.57576163, -0.09882364],
       ...,
       [ 1.05784342, -0.52773383,  0.79450679, ...,  2.46866885,
        -0.57576163, -0.09882364],
       [ 0.57743238,  0.30624397, -0.43886229, ...,  2.46866885,
        -0.57576163, -0.09882364],
       [ 0.28918576,  0.34898927, -0.53389297, ...,  2.46866885,
        -0.57576163, -0.09882364]])

In [22]:
#Task 4.3
Xtest_scaled = pd.DataFrame(Xtest_scaled,columns =X_test.columns)

In [23]:
#Task 5  export fit and scaled data
# save the state_summary separately.
# drop index so i dont need to have later  xtrain, ytrain, xtest, ytest
# X_sclaed = train data
# y = train data
# Xtest_scaled = test data
# ytest = y test data
X_scaled.to_csv(r'D:\Springboard2\DataTrack\Capstone 3\Data\UsedCarData\X_Train_Output.csv',index = 0)
Xtest_scaled.to_csv(r'D:\Springboard2\DataTrack\Capstone 3\Data\UsedCarData\X_Test_Output.csv',index = 0)
y.to_csv(r'D:\Springboard2\DataTrack\Capstone 3\Data\UsedCarData\y_Train_Output.csv',index = 0)
ytest.to_csv(r'D:\Springboard2\DataTrack\Capstone 3\Data\UsedCarData\y_Test_Output.csv',index = 0)