In [1]:
#Task 1
#import pandas
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import numpy as np
import os
import sklearn


##import inforamtion from Kaggle 
CCLoan = pd.read_csv(r'D:\springboard\DataScienceGuidedCapstone\Unit7\DataCapstoneProject2\ccFraudDefault\application_data_RemoveNormalized.csv',header=0)

In [2]:
#Task 2.0
#preview first 25 row to verify data was imported correctly

CCLoan.head(25)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,block of flats,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,block of flats,Block,No,1.0,0.0,1.0,0.0,-828.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2536.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1562.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1070.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1673.0,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-844.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2396.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,block of flats,NaN,No,0.0,0.0,0.0,0.0,-2370.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,block of flats,Panel,No,0.0,0.0,0.0,0.0,-4.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,block of flats,Panel,No,0.0,0.0,0.0,0.0,-188.0,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-925.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-3.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,NaN,NaN,NaN,4.0,0.0,4.0,0.0,-2811.0,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,block of flats,"Stone, brick",No,8.0,0.0,8.0,0.0,-239.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1850.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,block of flats,"Stone, brick",No,0.0,0.0,0.0,0.0,-296.0,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,block of flats,Panel,No,0.0,0.0,0.0,0.0,-468.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,block of flats,Mixed,No,0.0,0.0,0.0,0.0,-795.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,block of flats,Panel,No,1.0,1.0,1.0,0.0,-4.0,0.0,0.0

In [4]:
#Task 2.0.1
#rename certian column to be more readable
CCLoan.rename(columns={'SK_ID_CURR':'CLIENTID','TARGET':'LATE_PAYMENT'},inplace = True)

In [5]:
#Task 2.1
#Total row of record is 307511 and now 52 columns
CCLoan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 52 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CLIENTID                     307511 non-null  int64
 1   LATE_PAYMENT                 307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307499 non-null  float64
 10  AMT_GOODS_PRICE              307233 non-null  float64
 11  NAME_TYPE_SUITE              306219 non-null  object
 12  NAME_INCOME_TYPE             307511 non-null  object
 13  NAME_EDUCATION_TYPE          307511 non-null  object
 14  NAME_FAMILY_STATUS           307511 non-null  object
 15  NAME_HOUSING_TYPE            307511 non-null  object
 16  REGION_POPULATION_RELATIVE   307511 non-null  float64
 17  DAYS_BIRTH                   307511 non-null  int64
 18  DAYS_EMPLOYED                307511 non-null  int64
 19  DAYS_REGISTRATION            307511 non-null  float64
 20  DAYS_ID_PUBLISH              307511 non-null  int64
 21  OWN_CAR_AGE                  104582 non-null  float64
 22  FLAG_MOBIL                   307511 non-null  int64
 23  FLAG_EMP_PHONE               307511 non-null  int64
 24  FLAG_WORK_PHONE              307511 non-null  int64
 25  FLAG_CONT_MOBILE             307511 non-null  int64
 26  FLAG_PHONE                   307511 non-null  int64
 27  FLAG_EMAIL                   307511 non-null  int64
 28  OCCUPATION_TYPE              211120 non-null  object
 29  CNT_FAM_MEMBERS              307509 non-null  float64
 30  REGION_RATING_CLIENT         307511 non-null  int64
 31  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 32  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 33  HOUR_APPR_PROCESS_START      307511 non-null  int64
 34  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 35  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 36  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 37  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 38  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 39  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 40  ORGANIZATION_TYPE            307511 non-null  object
 41  FONDKAPREMONT_MODE           97216 non-null   object
 42  HOUSETYPE_MODE               153214 non-null  object
 43  WALLSMATERIAL_MODE           151170 non-null  object
 44  EMERGENCYSTATE_MODE          161756 non-null  object
 45  OBS_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 46  DEF_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 47  OBS_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 48  DEF_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 49  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 50  AMT_REQ_CREDIT_BUREAU_QRT    265992 non-null  float64
 51  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(15), int64(21), object(16)
memory usage: 122.0+ MB

In [6]:
#Task 2.2
# review data to see if data should be kept and clarify what is that data

aaa=CCLoan.isna().sum()
aaa.sort_values(ascending = False,)

FONDKAPREMONT_MODE             210295
OWN_CAR_AGE                    202929
WALLSMATERIAL_MODE             156341
HOUSETYPE_MODE                 154297
EMERGENCYSTATE_MODE            145755
OCCUPATION_TYPE                 96391
AMT_REQ_CREDIT_BUREAU_YEAR      41519
AMT_REQ_CREDIT_BUREAU_QRT       41519
NAME_TYPE_SUITE                  1292
OBS_30_CNT_SOCIAL_CIRCLE         1021
DEF_30_CNT_SOCIAL_CIRCLE         1021
OBS_60_CNT_SOCIAL_CIRCLE         1021
DEF_60_CNT_SOCIAL_CIRCLE         1021
AMT_GOODS_PRICE                   278
AMT_ANNUITY                        12
CNT_FAM_MEMBERS                     2
DAYS_LAST_PHONE_CHANGE              1
LIVE_CITY_NOT_WORK_CITY             0
ORGANIZATION_TYPE                   0
REG_CITY_NOT_LIVE_CITY              0
LIVE_REGION_NOT_WORK_REGION         0
REG_REGION_NOT_WORK_REGION          0
REG_REGION_NOT_LIVE_REGION          0
HOUR_APPR_PROCESS_START             0
WEEKDAY_APPR_PROCESS_START          0
REGION_RATING_CLIENT_W_CITY         0
REGION_RATING_CLIENT                0
REG_CITY_NOT_WORK_CITY              0
CLIENTID                            0
FLAG_EMAIL                          0
NAME_FAMILY_STATUS                  0
NAME_CONTRACT_TYPE                  0
CODE_GENDER                         0
FLAG_OWN_CAR                        0
FLAG_OWN_REALTY                     0
CNT_CHILDREN                        0
AMT_INCOME_TOTAL                    0
AMT_CREDIT                          0
NAME_INCOME_TYPE                    0
NAME_EDUCATION_TYPE                 0
NAME_HOUSING_TYPE                   0
LATE_PAYMENT                        0
REGION_POPULATION_RELATIVE          0
DAYS_BIRTH                          0
DAYS_EMPLOYED                       0
DAYS_REGISTRATION                   0
DAYS_ID_PUBLISH                     0
FLAG_MOBIL                          0
FLAG_EMP_PHONE                      0
FLAG_WORK_PHONE                     0
FLAG_CONT_MOBILE                    0
FLAG_PHONE                          0
dtype: int64

In [44]:
#Task 3.1.0
# review data to see if data should be kept and clarify what is that data
# validated that if someone does not own a card the data is NaN
CCLoan_car=CCLoan[CCLoan['FLAG_OWN_CAR']=='N']
CCLoan_car =CCLoan_car[CCLoan_car['OWN_CAR_AGE'].isna()]

CCLoan_car[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','HOUSETYPE_MODE',]].head(10)

Empty DataFrame
Columns: [CLIENTID, LATE_PAYMENT, FLAG_OWN_CAR, OWN_CAR_AGE, HOUSETYPE_MODE]
Index: []

False

In [39]:
#CCLoan_car =CCLoan_car[CCLoan_car['OWN_CAR_AGE'].isna()]
CCLoan_car

Empty DataFrame
Columns: [CLIENTID, LATE_PAYMENT, NAME_CONTRACT_TYPE, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, ORGANIZATION_TYPE, FONDKAPREMONT_MODE, HOUSETYPE_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, AMT_REQ_CREDIT_BUREAU_QRT, AMT_REQ_CREDIT_BUREAU_YEAR]
Index: []

[0 rows x 52 columns]

In [8]:
#Task 3.1.1
#view  infor of OWN_CAR_AGE is what type of data.  I find it is Float so i would need to put 0 instead of NA for this value
CCLoan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 52 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CLIENTID                     307511 non-null  int64
 1   LATE_PAYMENT                 307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307499 non-null  float64
 10  AMT_GOODS_PRICE              307233 non-null  float64
 11  NAME_TYPE_SUITE              306219 non-null  object
 12  NAME_INCOME_TYPE             307511 non-null  object
 13  NAME_EDUCATION_TYPE          307511 non-null  object
 14  NAME_FAMILY_STATUS           307511 non-null  object
 15  NAME_HOUSING_TYPE            307511 non-null  object
 16  REGION_POPULATION_RELATIVE   307511 non-null  float64
 17  DAYS_BIRTH                   307511 non-null  int64
 18  DAYS_EMPLOYED                307511 non-null  int64
 19  DAYS_REGISTRATION            307511 non-null  float64
 20  DAYS_ID_PUBLISH              307511 non-null  int64
 21  OWN_CAR_AGE                  104582 non-null  float64
 22  FLAG_MOBIL                   307511 non-null  int64
 23  FLAG_EMP_PHONE               307511 non-null  int64
 24  FLAG_WORK_PHONE              307511 non-null  int64
 25  FLAG_CONT_MOBILE             307511 non-null  int64
 26  FLAG_PHONE                   307511 non-null  int64
 27  FLAG_EMAIL                   307511 non-null  int64
 28  OCCUPATION_TYPE              211120 non-null  object
 29  CNT_FAM_MEMBERS              307509 non-null  float64
 30  REGION_RATING_CLIENT         307511 non-null  int64
 31  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 32  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 33  HOUR_APPR_PROCESS_START      307511 non-null  int64
 34  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 35  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 36  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 37  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 38  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 39  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 40  ORGANIZATION_TYPE            307511 non-null  object
 41  FONDKAPREMONT_MODE           97216 non-null   object
 42  HOUSETYPE_MODE               153214 non-null  object
 43  WALLSMATERIAL_MODE           151170 non-null  object
 44  EMERGENCYSTATE_MODE          161756 non-null  object
 45  OBS_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 46  DEF_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 47  OBS_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 48  DEF_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 49  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 50  AMT_REQ_CREDIT_BUREAU_QRT    265992 non-null  float64
 51  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(15), int64(21), object(16)
memory usage: 122.0+ MB

In [9]:
#Task 3.2.0
#to decifer who own car you will need to use FLAG_OWN_CAR to see if they have car.  I am settinb
CCLoan['OWN_CAR_AGE']=CCLoan['OWN_CAR_AGE'].replace(np.nan, 0)

In [11]:
#Task 3.2.1
#Validate that NaN is now 0 instead of NaN
CCLoan_car=CCLoan[CCLoan['FLAG_OWN_CAR']=='N']
CCLoan_car[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','FONDKAPREMONT_MODE','WALLSMATERIAL_MODE','HOUSETYPE_MODE','EMERGENCYSTATE_MODE']].head(10)

,CLIENTID,LATE_PAYMENT,FLAG_OWN_CAR,OWN_CAR_AGE,FONDKAPREMONT_MODE,WALLSMATERIAL_MODE,HOUSETYPE_MODE,EMERGENCYSTATE_MODE
0,100002,1,N,0.0,reg oper account,"Stone, brick",block of flats,No
1,100003,0,N,0.0,reg oper account,Block,block of flats,No
3,100006,0,N,0.0,NaN,NaN,NaN,NaN
4,100007,0,N,0.0,NaN,NaN,NaN,NaN
5,100008,0,N,0.0,NaN,NaN,NaN,NaN
8,100011,0,N,0.0,NaN,NaN,NaN,NaN
9,100012,0,N,0.0,NaN,NaN,NaN,NaN
10,100014,0,N,0.0,NaN,NaN,NaN,NaN
11,100015,0,N,0.0,NaN,NaN,NaN,NaN
12,100016,0,N,0.0,reg oper account,NaN,block of flats,No

In [12]:
#Task 3.3.1
#Change NaN for WALLSMATERIAL_MODE & HouseTypeMode to NA as unknown material or house  type
CCLoan['WALLSMATERIAL_MODE']=CCLoan['WALLSMATERIAL_MODE'].replace(np.nan, 'unknown')
CCLoan['HOUSETYPE_MODE']=CCLoan['HOUSETYPE_MODE'].replace(np.nan, 'unknown')

CCLoan[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','FONDKAPREMONT_MODE','WALLSMATERIAL_MODE','HOUSETYPE_MODE','EMERGENCYSTATE_MODE']].head(10)

,CLIENTID,LATE_PAYMENT,FLAG_OWN_CAR,OWN_CAR_AGE,FONDKAPREMONT_MODE,WALLSMATERIAL_MODE,HOUSETYPE_MODE,EMERGENCYSTATE_MODE
0,100002,1,N,0.0,reg oper account,"Stone, brick",block of flats,No
1,100003,0,N,0.0,reg oper account,Block,block of flats,No
2,100004,0,Y,26.0,NaN,unknown,unknown,NaN
3,100006,0,N,0.0,NaN,unknown,unknown,NaN
4,100007,0,N,0.0,NaN,unknown,unknown,NaN
5,100008,0,N,0.0,NaN,unknown,unknown,NaN
6,100009,0,Y,17.0,NaN,unknown,unknown,NaN
7,100010,0,Y,8.0,NaN,unknown,unknown,NaN
8,100011,0,N,0.0,NaN,unknown,unknown,NaN
9,100012,0,N,0.0,NaN,unknown,unknown,NaN

In [ ]:
#Task 2.3.2
#View data
#CCLoan[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','FONDKAPREMONT_MODE','WALLSMATERIAL_MODE','HOUSETYPE_MODE','EMERGENCYSTATE_MODE']].head(25)

View Data to see if I should drop more columns

In [13]:
#Task 3.3.2
#see what data is null, total row is 307511 and the below is top 5 row with 214000+ rows are null

aaa=CCLoan.isna().sum()
aaa.sort_values(ascending = False,)

FONDKAPREMONT_MODE             210295
EMERGENCYSTATE_MODE            145755
OCCUPATION_TYPE                 96391
AMT_REQ_CREDIT_BUREAU_YEAR      41519
AMT_REQ_CREDIT_BUREAU_QRT       41519
NAME_TYPE_SUITE                  1292
DEF_60_CNT_SOCIAL_CIRCLE         1021
OBS_60_CNT_SOCIAL_CIRCLE         1021
DEF_30_CNT_SOCIAL_CIRCLE         1021
OBS_30_CNT_SOCIAL_CIRCLE         1021
AMT_GOODS_PRICE                   278
AMT_ANNUITY                        12
CNT_FAM_MEMBERS                     2
DAYS_LAST_PHONE_CHANGE              1
WALLSMATERIAL_MODE                  0
ORGANIZATION_TYPE                   0
LIVE_CITY_NOT_WORK_CITY             0
REG_CITY_NOT_WORK_CITY              0
REG_CITY_NOT_LIVE_CITY              0
LIVE_REGION_NOT_WORK_REGION         0
REG_REGION_NOT_WORK_REGION          0
REG_REGION_NOT_LIVE_REGION          0
HOUR_APPR_PROCESS_START             0
WEEKDAY_APPR_PROCESS_START          0
REGION_RATING_CLIENT_W_CITY         0
REGION_RATING_CLIENT                0
HOUSETYPE_MODE                      0
CLIENTID                            0
FLAG_EMAIL                          0
LATE_PAYMENT                        0
NAME_CONTRACT_TYPE                  0
CODE_GENDER                         0
FLAG_OWN_CAR                        0
FLAG_OWN_REALTY                     0
CNT_CHILDREN                        0
AMT_INCOME_TOTAL                    0
AMT_CREDIT                          0
NAME_INCOME_TYPE                    0
NAME_EDUCATION_TYPE                 0
NAME_FAMILY_STATUS                  0
NAME_HOUSING_TYPE                   0
REGION_POPULATION_RELATIVE          0
DAYS_BIRTH                          0
DAYS_EMPLOYED                       0
DAYS_REGISTRATION                   0
DAYS_ID_PUBLISH                     0
OWN_CAR_AGE                         0
FLAG_MOBIL                          0
FLAG_EMP_PHONE                      0
FLAG_WORK_PHONE                     0
FLAG_CONT_MOBILE                    0
FLAG_PHONE                          0
dtype: int64

In [14]:
#Task 3.4.1

#drop column FONDKAPREMONT_MODE, EMERGENCYSTATE_MODE
CCLoan=CCLoan.drop(['FONDKAPREMONT_MODE','EMERGENCYSTATE_MODE'],axis=1)


#validate columns are dropped
#validated the columns are no longer there and now see next 5 columns
bbb=CCLoan.isna().sum()
bbb.sort_values(ascending = False)

threshold = len(CCLoan)*.4
columns_drop = bbb.loc[bbb > threshold].index

OCCUPATION_TYPE                96391
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
NAME_TYPE_SUITE                 1292
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_30_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
AMT_GOODS_PRICE                  278
AMT_ANNUITY                       12
CNT_FAM_MEMBERS                    2
DAYS_LAST_PHONE_CHANGE             1
REG_REGION_NOT_WORK_REGION         0
REGION_RATING_CLIENT               0
REGION_RATING_CLIENT_W_CITY        0
WEEKDAY_APPR_PROCESS_START         0
HOUR_APPR_PROCESS_START            0
REG_REGION_NOT_LIVE_REGION         0
LIVE_CITY_NOT_WORK_CITY            0
LIVE_REGION_NOT_WORK_REGION        0
REG_CITY_NOT_LIVE_CITY             0
REG_CITY_NOT_WORK_CITY             0
FLAG_EMAIL                         0
HOUSETYPE_MODE                     0
WALLSMATERIAL_MODE                 0
ORGANIZATION_TYPE                  0
CLIENTID                           0
FLAG_PHONE                         0
NAME_FAMILY_STATUS                 0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_HOUSING_TYPE                  0
LATE_PAYMENT                       0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                        0
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
dtype: int64

In [ ]:
### 

threshold = len(CCLoan)*.4
columns_drop = bbb.loc[bbb > threshold].index
columns_drop

In [15]:
#Task 3.4.1.0
CCLoan[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR','NAME_TYPE_SUITE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

,CLIENTID,LATE_PAYMENT,OCCUPATION_TYPE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_TYPE_SUITE,AMT_ANNUITY,AMT_GOODS_PRICE
0,100002,1,Laborers,0.0,1.0,Unaccompanied,24700.5,351000.0
1,100003,0,Core staff,0.0,0.0,Family,35698.5,1129500.0
2,100004,0,Laborers,0.0,0.0,Unaccompanied,6750.0,135000.0
3,100006,0,Laborers,NaN,NaN,Unaccompanied,29686.5,297000.0
4,100007,0,Core staff,0.0,0.0,Unaccompanied,21865.5,513000.0
5,100008,0,Laborers,1.0,1.0,"Spouse, partner",27517.5,454500.0
6,100009,0,Accountants,1.0,2.0,Unaccompanied,41301.0,1395000.0
7,100010,0,Managers,0.0,0.0,Unaccompanied,42075.0,1530000.0
8,100011,0,NaN,0.0,1.0,Children,33826.5,913500.0
9,100012,0,Laborers,NaN,NaN,Unaccompanied,20250.0,405000.0
10,100014,0,Core staff,0.0,0.0,Unaccompanied,21177.0,652500.0
11,100015,0,NaN,0.0,2.0,Children,10678.5,135000.0
12,100016,0,Laborers,0.0,0.0,Unaccompanied,5881.5,67500.0
13,100017,0,Drivers,0.0,1.0,Unaccompanied,28966.5,697500.0
14,100018,0,Laborers,NaN,NaN,Unaccompanied,32778.0,679500.0
15,100019,0,Laborers,0.0,1.0,Family,20160.0,247500.0
16,100020,0,Drivers,1.0,0.0,Unaccompanied,26149.5,387000.0
17,100021,0,Laborers,NaN,NaN,Unaccompanied,13500.0,270000.0
18,100022,0,Laborers,0.0,0.0,Other_A,7875.0,157500.0
19,100023,0,Core staff,0.0,2.0,Unaccompanied,17563.5,454500.0
20,100024,0,Laborers,NaN,NaN,Unaccompanied,21375.0,427500.0
21,100025,0,Sales staff,1.0,4.0,Unaccompanied,37561.5,927000.0
22,100026,0,Sales staff,0.0,5.0,Unaccompanied,32521.5,450000.0
23,100027,0,NaN,0.0,3.0,Unaccompanied,23850.0,225000.0
24,100029,0,Drivers,0.0,0.0,Unaccompanied,12703.5,247500.0
25,100030,0,Cleaning staff,0.0,0.0,Unaccompanied,11074.5,225000.0
26,100031,1,Cooking staff,2.0,2.0,Unaccompanied,27076.5,702000.0
27,100032,0,Laborers,0.0,0.0,Family,23827.5,270000.0
28,100033,0,NaN,0.0,1.0,Unaccompanied,57676.5,675000.0
29,100034,0,Laborers,NaN,NaN,Unaccompanied,9000.0,180000.0

In [16]:
#Task 3.5.1
#update 
#AMT_REQ_CREDIT_BUREAU_QRT  >>> 0.0 because instead of blank but no credit history
#AMT_REQ_CREDIT_BUREAU_YEAR >>> 0.0 because instead of blank but no credit history
#NAME_TYPE_SUITE >>> N/A
#OCCUPATION_TYPE >>> N/A

CCLoan['AMT_REQ_CREDIT_BUREAU_QRT']=CCLoan['AMT_REQ_CREDIT_BUREAU_QRT'].replace(np.nan, 0.0)
CCLoan['AMT_REQ_CREDIT_BUREAU_YEAR']=CCLoan['AMT_REQ_CREDIT_BUREAU_YEAR'].replace(np.nan, 0.0)
CCLoan['NAME_TYPE_SUITE']=CCLoan['NAME_TYPE_SUITE'].replace(np.nan, 'N/A')
CCLoan['OCCUPATION_TYPE']=CCLoan['OCCUPATION_TYPE'].replace(np.nan, 'N/A')
CCLoan['DEF_60_CNT_SOCIAL_CIRCLE']=CCLoan['DEF_60_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')
CCLoan['OBS_60_CNT_SOCIAL_CIRCLE']=CCLoan['OBS_60_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')
CCLoan['DEF_30_CNT_SOCIAL_CIRCLE']=CCLoan['DEF_30_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')
CCLoan['OBS_30_CNT_SOCIAL_CIRCLE']=CCLoan['OBS_30_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')

In [18]:
#Task 3.5.2.0
CCLoan[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR','NAME_TYPE_SUITE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

,CLIENTID,LATE_PAYMENT,OCCUPATION_TYPE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_TYPE_SUITE,AMT_ANNUITY,AMT_GOODS_PRICE
0,100002,1,Laborers,0.0,1.0,Unaccompanied,24700.5,351000.0
1,100003,0,Core staff,0.0,0.0,Family,35698.5,1129500.0
2,100004,0,Laborers,0.0,0.0,Unaccompanied,6750.0,135000.0
3,100006,0,Laborers,0.0,0.0,Unaccompanied,29686.5,297000.0
4,100007,0,Core staff,0.0,0.0,Unaccompanied,21865.5,513000.0
5,100008,0,Laborers,1.0,1.0,"Spouse, partner",27517.5,454500.0
6,100009,0,Accountants,1.0,2.0,Unaccompanied,41301.0,1395000.0
7,100010,0,Managers,0.0,0.0,Unaccompanied,42075.0,1530000.0
8,100011,0,N/A,0.0,1.0,Children,33826.5,913500.0
9,100012,0,Laborers,0.0,0.0,Unaccompanied,20250.0,405000.0
10,100014,0,Core staff,0.0,0.0,Unaccompanied,21177.0,652500.0
11,100015,0,N/A,0.0,2.0,Children,10678.5,135000.0
12,100016,0,Laborers,0.0,0.0,Unaccompanied,5881.5,67500.0
13,100017,0,Drivers,0.0,1.0,Unaccompanied,28966.5,697500.0
14,100018,0,Laborers,0.0,0.0,Unaccompanied,32778.0,679500.0
15,100019,0,Laborers,0.0,1.0,Family,20160.0,247500.0
16,100020,0,Drivers,1.0,0.0,Unaccompanied,26149.5,387000.0
17,100021,0,Laborers,0.0,0.0,Unaccompanied,13500.0,270000.0
18,100022,0,Laborers,0.0,0.0,Other_A,7875.0,157500.0
19,100023,0,Core staff,0.0,2.0,Unaccompanied,17563.5,454500.0
20,100024,0,Laborers,0.0,0.0,Unaccompanied,21375.0,427500.0
21,100025,0,Sales staff,1.0,4.0,Unaccompanied,37561.5,927000.0
22,100026,0,Sales staff,0.0,5.0,Unaccompanied,32521.5,450000.0
23,100027,0,N/A,0.0,3.0,Unaccompanied,23850.0,225000.0
24,100029,0,Drivers,0.0,0.0,Unaccompanied,12703.5,247500.0
25,100030,0,Cleaning staff,0.0,0.0,Unaccompanied,11074.5,225000.0
26,100031,1,Cooking staff,2.0,2.0,Unaccompanied,27076.5,702000.0
27,100032,0,Laborers,0.0,0.0,Family,23827.5,270000.0
28,100033,0,N/A,0.0,1.0,Unaccompanied,57676.5,675000.0
29,100034,0,Laborers,0.0,0.0,Unaccompanied,9000.0,180000.0

In [19]:
#Task 3.5.3
#validate columns are dropped
#validated the columns are no longer there and now see next 5 columns
ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

AMT_GOODS_PRICE                278
AMT_ANNUITY                     12
CNT_FAM_MEMBERS                  2
DAYS_LAST_PHONE_CHANGE           1
CLIENTID                         0
REG_CITY_NOT_LIVE_CITY           0
OCCUPATION_TYPE                  0
REGION_RATING_CLIENT             0
REGION_RATING_CLIENT_W_CITY      0
WEEKDAY_APPR_PROCESS_START       0
HOUR_APPR_PROCESS_START          0
REG_REGION_NOT_LIVE_REGION       0
REG_REGION_NOT_WORK_REGION       0
LIVE_REGION_NOT_WORK_REGION      0
LIVE_CITY_NOT_WORK_CITY          0
REG_CITY_NOT_WORK_CITY           0
FLAG_PHONE                       0
ORGANIZATION_TYPE                0
HOUSETYPE_MODE                   0
WALLSMATERIAL_MODE               0
OBS_30_CNT_SOCIAL_CIRCLE         0
DEF_30_CNT_SOCIAL_CIRCLE         0
OBS_60_CNT_SOCIAL_CIRCLE         0
DEF_60_CNT_SOCIAL_CIRCLE         0
AMT_REQ_CREDIT_BUREAU_QRT        0
FLAG_EMAIL                       0
FLAG_CONT_MOBILE                 0
LATE_PAYMENT                     0
NAME_EDUCATION_TYPE              0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
CNT_CHILDREN                     0
AMT_INCOME_TOTAL                 0
AMT_CREDIT                       0
NAME_TYPE_SUITE                  0
NAME_INCOME_TYPE                 0
NAME_FAMILY_STATUS               0
FLAG_WORK_PHONE                  0
NAME_HOUSING_TYPE                0
REGION_POPULATION_RELATIVE       0
DAYS_BIRTH                       0
DAYS_EMPLOYED                    0
DAYS_REGISTRATION                0
DAYS_ID_PUBLISH                  0
OWN_CAR_AGE                      0
FLAG_MOBIL                       0
FLAG_EMP_PHONE                   0
AMT_REQ_CREDIT_BUREAU_YEAR       0
dtype: int64

In [20]:
#Task 3.6.1
#take a mean of AMT_GOODS_PRICE and fill in NaN
CCLoan['AMT_GOODS_PRICE']=CCLoan['AMT_GOODS_PRICE'].replace(np.nan,CCLoan['AMT_GOODS_PRICE'].mean())

ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

AMT_ANNUITY                    12
CNT_FAM_MEMBERS                 2
DAYS_LAST_PHONE_CHANGE          1
CLIENTID                        0
REG_CITY_NOT_LIVE_CITY          0
OCCUPATION_TYPE                 0
REGION_RATING_CLIENT            0
REGION_RATING_CLIENT_W_CITY     0
WEEKDAY_APPR_PROCESS_START      0
HOUR_APPR_PROCESS_START         0
REG_REGION_NOT_LIVE_REGION      0
REG_REGION_NOT_WORK_REGION      0
LIVE_REGION_NOT_WORK_REGION     0
LIVE_CITY_NOT_WORK_CITY         0
REG_CITY_NOT_WORK_CITY          0
FLAG_PHONE                      0
ORGANIZATION_TYPE               0
HOUSETYPE_MODE                  0
WALLSMATERIAL_MODE              0
OBS_30_CNT_SOCIAL_CIRCLE        0
DEF_30_CNT_SOCIAL_CIRCLE        0
OBS_60_CNT_SOCIAL_CIRCLE        0
DEF_60_CNT_SOCIAL_CIRCLE        0
AMT_REQ_CREDIT_BUREAU_QRT       0
FLAG_EMAIL                      0
FLAG_CONT_MOBILE                0
LATE_PAYMENT                    0
FLAG_WORK_PHONE                 0
NAME_CONTRACT_TYPE              0
CODE_GENDER                     0
FLAG_OWN_CAR                    0
FLAG_OWN_REALTY                 0
CNT_CHILDREN                    0
AMT_INCOME_TOTAL                0
AMT_CREDIT                      0
AMT_GOODS_PRICE                 0
NAME_TYPE_SUITE                 0
NAME_INCOME_TYPE                0
NAME_EDUCATION_TYPE             0
NAME_FAMILY_STATUS              0
NAME_HOUSING_TYPE               0
REGION_POPULATION_RELATIVE      0
DAYS_BIRTH                      0
DAYS_EMPLOYED                   0
DAYS_REGISTRATION               0
DAYS_ID_PUBLISH                 0
OWN_CAR_AGE                     0
FLAG_MOBIL                      0
FLAG_EMP_PHONE                  0
AMT_REQ_CREDIT_BUREAU_YEAR      0
dtype: int64

In [ ]:
CCLoan.fillna([],0)

In [21]:
#Task 3.7.1
#take a mean of  and fill in 0
CCLoan['AMT_ANNUITY']=CCLoan['AMT_ANNUITY'].replace(np.nan,0)

ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

CNT_FAM_MEMBERS                2
DAYS_LAST_PHONE_CHANGE         1
CLIENTID                       0
REG_CITY_NOT_LIVE_CITY         0
FLAG_EMAIL                     0
OCCUPATION_TYPE                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_WORK_CITY         0
LATE_PAYMENT                   0
LIVE_CITY_NOT_WORK_CITY        0
ORGANIZATION_TYPE              0
HOUSETYPE_MODE                 0
WALLSMATERIAL_MODE             0
OBS_30_CNT_SOCIAL_CIRCLE       0
DEF_30_CNT_SOCIAL_CIRCLE       0
OBS_60_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
AMT_REQ_CREDIT_BUREAU_QRT      0
FLAG_PHONE                     0
FLAG_CONT_MOBILE               0
FLAG_WORK_PHONE                0
FLAG_EMP_PHONE                 0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
AMT_GOODS_PRICE                0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
OWN_CAR_AGE                    0
FLAG_MOBIL                     0
AMT_REQ_CREDIT_BUREAU_YEAR     0
dtype: int64

In [ ]:
CCLoan.fillna({'AMT_GOODS_PRICE':  CCLoan.AMT_GOODS_PRICE.mean(), 'AMT_ANNUITY': 0})

In [26]:
#Task 3.8.1
CCLoan_amt = CCLoan[CCLoan['CNT_FAM_MEMBERS'].isna()]
CCLoan_amt[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','CNT_FAM_MEMBERS','CNT_CHILDREN','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

,CLIENTID,LATE_PAYMENT,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CNT_CHILDREN,AMT_ANNUITY,AMT_GOODS_PRICE
41982,148605,0,Managers,NaN,0,33750.0,538396.207429
187348,317181,0,Accountants,NaN,0,29250.0,538396.207429

In [27]:
#Task 3.8.2

CCLoan['CNT_FAM_MEMBERS']=CCLoan['CNT_FAM_MEMBERS'].replace(np.nan,0)

ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

DAYS_LAST_PHONE_CHANGE         1
CLIENTID                       0
REG_CITY_NOT_LIVE_CITY         0
FLAG_EMAIL                     0
OCCUPATION_TYPE                0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_WORK_CITY         0
LATE_PAYMENT                   0
LIVE_CITY_NOT_WORK_CITY        0
ORGANIZATION_TYPE              0
HOUSETYPE_MODE                 0
WALLSMATERIAL_MODE             0
OBS_30_CNT_SOCIAL_CIRCLE       0
DEF_30_CNT_SOCIAL_CIRCLE       0
OBS_60_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
AMT_REQ_CREDIT_BUREAU_QRT      0
FLAG_PHONE                     0
FLAG_CONT_MOBILE               0
FLAG_WORK_PHONE                0
FLAG_EMP_PHONE                 0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
AMT_GOODS_PRICE                0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
OWN_CAR_AGE                    0
FLAG_MOBIL                     0
AMT_REQ_CREDIT_BUREAU_YEAR     0
dtype: int64

In [28]:

CCLoan[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','CNT_FAM_MEMBERS','CNT_CHILDREN','DAYS_LAST_PHONE_CHANGE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

,CLIENTID,LATE_PAYMENT,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CNT_CHILDREN,DAYS_LAST_PHONE_CHANGE,AMT_ANNUITY,AMT_GOODS_PRICE
0,100002,1,Laborers,1.0,0,-1134.0,24700.5,351000.0
1,100003,0,Core staff,2.0,0,-828.0,35698.5,1129500.0
2,100004,0,Laborers,1.0,0,-815.0,6750.0,135000.0
3,100006,0,Laborers,2.0,0,-617.0,29686.5,297000.0
4,100007,0,Core staff,1.0,0,-1106.0,21865.5,513000.0
5,100008,0,Laborers,2.0,0,-2536.0,27517.5,454500.0
6,100009,0,Accountants,3.0,1,-1562.0,41301.0,1395000.0
7,100010,0,Managers,2.0,0,-1070.0,42075.0,1530000.0
8,100011,0,N/A,2.0,0,0.0,33826.5,913500.0
9,100012,0,Laborers,1.0,0,-1673.0,20250.0,405000.0
10,100014,0,Core staff,3.0,1,-844.0,21177.0,652500.0
11,100015,0,N/A,2.0,0,-2396.0,10678.5,135000.0
12,100016,0,Laborers,2.0,0,-2370.0,5881.5,67500.0
13,100017,0,Drivers,3.0,1,-4.0,28966.5,697500.0
14,100018,0,Laborers,2.0,0,-188.0,32778.0,679500.0
15,100019,0,Laborers,1.0,0,-925.0,20160.0,247500.0
16,100020,0,Drivers,2.0,0,-3.0,26149.5,387000.0
17,100021,0,Laborers,3.0,1,-2811.0,13500.0,270000.0
18,100022,0,Laborers,1.0,0,-239.0,7875.0,157500.0
19,100023,0,Core staff,2.0,1,-1850.0,17563.5,454500.0
20,100024,0,Laborers,2.0,0,-296.0,21375.0,427500.0
21,100025,0,Sales staff,3.0,1,0.0,37561.5,927000.0
22,100026,0,Sales staff,3.0,1,-468.0,32521.5,450000.0
23,100027,0,N/A,2.0,0,-795.0,23850.0,225000.0
24,100029,0,Drivers,4.0,2,-4.0,12703.5,247500.0
25,100030,0,Cleaning staff,2.0,0,0.0,11074.5,225000.0
26,100031,1,Cooking staff,1.0,0,-161.0,27076.5,702000.0
27,100032,0,Laborers,3.0,1,-2.0,23827.5,270000.0
28,100033,0,N/A,1.0,0,-849.0,57676.5,675000.0
29,100034,0,Laborers,1.0,0,-599.0,9000.0,180000.0

In [ ]:
#Task 3.9.1
CCLoan_amt = CCLoan[CCLoan['DAYS_LAST_PHONE_CHANGE'].isna()]
CCLoan_amt[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','CNT_FAM_MEMBERS','CNT_CHILDREN','DAYS_LAST_PHONE_CHANGE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

In [29]:
#Task 3.9.2
CCLoan['DAYS_LAST_PHONE_CHANGE']=CCLoan['DAYS_LAST_PHONE_CHANGE'].replace(np.nan,0.0)

ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

CLIENTID                       0
REG_CITY_NOT_LIVE_CITY         0
FLAG_EMAIL                     0
OCCUPATION_TYPE                0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_WORK_CITY         0
LATE_PAYMENT                   0
LIVE_CITY_NOT_WORK_CITY        0
ORGANIZATION_TYPE              0
HOUSETYPE_MODE                 0
WALLSMATERIAL_MODE             0
OBS_30_CNT_SOCIAL_CIRCLE       0
DEF_30_CNT_SOCIAL_CIRCLE       0
OBS_60_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
DAYS_LAST_PHONE_CHANGE         0
AMT_REQ_CREDIT_BUREAU_QRT      0
FLAG_PHONE                     0
FLAG_CONT_MOBILE               0
FLAG_WORK_PHONE                0
FLAG_EMP_PHONE                 0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
AMT_GOODS_PRICE                0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
OWN_CAR_AGE                    0
FLAG_MOBIL                     0
AMT_REQ_CREDIT_BUREAU_YEAR     0
dtype: int64

In [30]:
#Task 6.1
# find if a person with late payment will have more cars or less
CCLoan['FLAG_OWN_CAR'].count()

307511

In [31]:
#Task 6.1.1
LatePay= CCLoan.loc[CCLoan['LATE_PAYMENT']==1]
NoLate = CCLoan.loc[CCLoan['LATE_PAYMENT']==0]

In [32]:
#Task 6.1.2

#percent of people who are late vs nonlate on cc payment
print ('% of Late Payment : ' +str(len(LatePay['CLIENTID'])/len(CCLoan['CLIENTID'])*100))
print ('% in good standing : ' +str(len(NoLate['CLIENTID'])/len(CCLoan['CLIENTID'])*100))


#there is a 8% default on credit

% of Late Payment : 8.072881945686495
% in good standing : 91.92711805431351

In [33]:
#Task 6.1.5
NoLate

,CLIENTID,LATE_PAYMENT,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ORGANIZATION_TYPE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,School,block of flats,Block,1.0,0.0,1.0,0.0,-828.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,Government,unknown,unknown,0.0,0.0,0.0,0.0,-815.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,Business Entity Type 3,unknown,unknown,2.0,0.0,2.0,0.0,-617.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,Religion,unknown,unknown,0.0,0.0,0.0,0.0,-1106.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,Other,unknown,unknown,0.0,0.0,0.0,0.0,-2536.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307505,456249,0,Cash loans,F,N,Y,0,112500.0,225000.0,22050.0,...,XNA,block of flats,Panel,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,Services,block of flats,"Stone, brick",0.0,0.0,0.0,0.0,-273.0,0.0,0.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,XNA,block of flats,"Stone, brick",0.0,0.0,0.0,0.0,0.0,0.0,0.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,School,block of flats,Panel,6.0,0.0,6.0,0.0,-1909.0,0.0,1.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,Business Entity Type 3,block of flats,Panel,0.0,0.0,0.0,0.0,-787.0,0.0,1.0

In [34]:
#Task 6.1.6
#Find what is percentage who is Late Payment that owns a car

owncar_LatePayment=(len(LatePay[LatePay['FLAG_OWN_CAR']=='Y']))/len(LatePay['FLAG_OWN_CAR'])*100
print ('% whom has defaulted: '+ str(owncar_LatePayment))


owncar_NoLate=(len(NoLate[NoLate['FLAG_OWN_CAR']=='Y']))/len(NoLate['FLAG_OWN_CAR'])*100
print('% that has not defaulted : '+ str(owncar_NoLate))


#there is a 4% difference where person who owns car that didnt default as to to whom has

% whom has defaulted: 30.517623363544814
% that has not defaulted : 34.317582052170955

In [35]:
#Task 6.1.8
#Find what is percentage who is Late Payment that owns reality

% whom has defaulted: 30.517623363544814
% that has not defaulted : 34.317582052170955

In [37]:
#Task 8
# save the state_summary separately.
CCLoan.to_csv(r'D:\springboard\DataScienceGuidedCapstone\Unit7\DataCapstoneProject2\ccFraudDefault\Cleaned_app_data.csv')

In [ ]:
#
#should do a graph of client ID vs the amount AMT_GOOD_PRICE / AMT_CREDIT

In [ ]:
#
#should do a graph of client ID vs the amount AMT_CREDIT / AMT_INCOME_TOTAL

In [ ]:
#Task x.6.5
#total people with cars and then information if they are late or not late on payment
car_owners = CCLoan[CCLoan['FLAG_OWN_CAR']== 'Y']
car_owner_T = car_owners[car_owners['LATE_PAYMENT']== 1]
car_owner_NT = car_owners[car_owners['LATE_PAYMENT']== 0]
print('Total Count:    '+ str(car_owners['LATE_PAYMENT'].count()))  #.sum() properway
print('LatePayment:    '+ str(car_owner_T['LATE_PAYMENT'].count()))
print('No LatePayment: '+ str(car_owner_NT['LATE_PAYMENT'].count()))

In [ ]:
#Task 6
#Find the % that is late vs not late
#8.1 % of total client is late
VS = (Late['CLIENTID'].count() / CCLoan['CLIENTID'].count())*100

print(VS)

In [ ]:
#Task 7
#get a list of clients who have a late installment
Late = CCLoan.loc[CCLoan['LATE_PAYMENT']. isin([1])]

In [ ]:
#Task 8
#count number of Target are late ---24825 is the output
Late.count()

In [ ]:
#Task 9
#try to find relationship where 
Late.head(25)

In [ ]:
#Task 10
Late[['CLIENTID','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']].head(25)

In [ ]:
#Task 11
Late.describe()

In [ ]:
#Task 21
#put non late payment into another DF so I can graph the latepayment vs income
NonLate = CCLoan.loc[CCLoan['LATE_PAYMENT']. isin([0])]

In [ ]:
CCLoan[['CLIENTID','LATE_PAYMENT','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','FLAG_OWN_CAR']].head(25)

#Task 22
#graph amt_credit vs amt_annuity

y = NonLate['AMT_CREDIT']
y2 = NonLate['AMT_ANNUITY']

x = NonLate ['CLIENT']
fig = plt.figure()
ax = plt.subplot()
ax.plot(x, y, label='Credit Amount')
ax.plot(x, y2, label='Loan Payment')
plt.title('Legend inside')
ax.legend()

In [ ]:
#GRAPH target vs points FLAG_OWN_CAR, FLAG_OWN_REALTY

In [ ]:
#Task 1000
#testsplit  dataset
from sklearn.model_selection import train_test_split

train_test_split(x,y,test_size = .2)